<!-- Conteudo Principal -->
<div class="card p-3 mb-0">
    <div class="d-flex">
        <div id="conhecaMaisImg"></div>
        <div class="textoConheca">
            <h2 class="text-primary mb-0 medium-title">A Bayer</h2>
            <p class="text-secondary mb-2 ">
                A Bayer é uma organização global com competências centrais nas áreas de saúde e agricultura. Os produtos e serviços da Bayer são projetados para beneficiar a população e melhorar sua qualidade de vida. Ao mesmo tempo, o Grupo tem como objetivo criar valor
                através da inovação e crescimento.
            </p>
        </div>
    </div>
</div>
<!-- Fim do conteudo principal-->

<script src="/static/candidato/js/es6+/conhecaMais/init.js" type="module"></script>