<!-- Conteudo Principal -->
<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-5">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <a href="desbloqueaveis.html" class="text-light"><i
                                                class="material-icons">assignment_ind</i></a>
                </div>
                <p class="card-category"><a href="desbloqueaveis.html">Status da Candidatura</a>
                </p>
                <p class="card-title" id="statusCandidatura"></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> <span id="dataVerificacaoCandidatura"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-5">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <a href="vagasAberto.html" class="text-light"><i
                                                class="material-icons">info</i></a>
                </div>
                <p class="card-category"><a href="vagasAberto.html">Fase atual</a></p>
                <p class="card-title" id="faseAtual"></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i><span id="dataFaseCard"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-5">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <a href="#/candidato/desbloqueaveis" ex-route-name="desbloqueaveis" class="text-light"><i class="material-icons">store</i></a>
                </div>
                <p class="card-category"><a href="#/candidato/desbloqueaveis" ex-route-name="desbloqueaveis">Desbloqueaveis</a></p>
                <p class="card-title">Troque seus pontos</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">help</i> Adquira já seu desbloqueavel
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-success chartCard">
                <div class="ct-chart" id="desempenhoSemanal"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Desempenho Semanal (Pontos)</h4>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> <span id="dataDesempenhoSemanal"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="evolucaoProgressiva"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Evolução Progressiva</h4>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i><span id="dataDesempenhoProgressivo"></span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header card-header-primary  ">
                <h4 class="card-title">Histórico do processo</h4>
                <p class="card-category">Desempenho em fases anteriores</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <th>Fase</th>
                        <th>Status</th>
                        <th>Pontuação</th>
                        <th>Período</th>
                    </thead>
                    <tbody class="text-dark" id="corpoFases">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Fim do conteudo principal-->
<script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>

<script src="/static/shared/libs/apexcharts/apexcharts@latest.js"></script>
<script type="module" src="/static/candidato/js/es6+/dashboard/init.js"></script>