<!-- Conteudo Principal -->
<div class="card p-3 mb-0">
    <h2 class="text-primary mb-0 medium-title">Desafios</h2>
    <p class="text-secondary mb-2 ">
        Realize os desafios, conquiste pontos e com isso obtenha mais chances para a vaga desejada.
    </p>
    <div class="categoriasContainer">

    </div>


</div>
<!-- Fim do conteudo principal-->

<script src="/static/candidato/js/es6+/desafios/init.js" type="module"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>