<!-- Conteudo Principal -->
<div class="card p-3 mb-0">
    <h2 class="text-primary mb-0 medium-small-title">Conhecimentos Gerais</h2>
    <p class="text-secondary mb-2 ">
        Realize aqui os desafios de conhecimentos gerais e aumente ainda mais a sua pontuação!
    </p>
    <div id="desafiosAtividades"></div>
</div>
<!-- Fim do conteudo principal-->
<div class="modal fade" modal-element id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-check mr-2"></i>
                <h5 class="modal-title" id="exampleModalLabel">Confirmação - Matemática</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
            </div>
            <div class="modal-body">
                <p>
                    Este teste possuí um tempo limite de <span class="text-bold">30 minutos</span> para ser realizado e este teste poderá ser realizado apenas uma única vez.
                </p>
                <p>
                    Certifique-se de estar preparado antes de iniciar.
                </p>
            </div>
            <div class="modal-footer" ex-router>
                <a type="button" class="btn btn-primary" modal-link ex-route-name="atividadedesafio111" href='#/candidato/desafios/categoria/1/atividade/1'>Confirmar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="module" src="/static/candidato/js/es6+/desafios/initCategorias.js">

</script>