<!-- Conteudo Principal -->
<div class="card p-3 mb-0">
    <h2 class="text-primary mb-0 medium-small-title">Desafios</h2>
    <p class="text-secondary mb-2 ">
        Escolha o desafio e poderá aumentar seus pontos!
    </p>
    <div id="desafiosAtividades"></div>
</div>
<!-- Fim do conteudo principal-->
<script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="module" src="/static/candidato/js/es6+/desafios/initCategorias.js">

</script>