<!-- Conteudo Principal -->
<div class="card p-3 mb-0">
    <div class="header-atividade d-flex justify-content-between align-items-center">
        <h2 class="text-primary medium-small-title atividade-titulo d-flex align-items-center pt-2">

            <i class="fas fa-book-open text-dark text-small mr-3"></i><span id="tituloDesafioCategoria"></span>

            <span class="text-bold text-small text-dark ml-3"><span id="questaoAtual">1</span> / <span id="totalQuestoes"></span>
            </span>
            <div id="questoesContador" class=" ml-3 text-small">
            </div>
        </h2>

        <div class="opcoesAtividade ">
            <i class="far fa-clock"></i>
            <span class="text-dark mr-4" id="tempoRestante"></span>

            <button class="btn btn-danger" data-toggle="modal" data-target="#modalConfimar">Finalizar Teste</button>
        </div>

    </div>
    <div id="questionContainer">

    </div>

    <div class="rodapeAtividade d-flex flex-column">

        <div class="proximaAtividade col-12 d-flex justify-content-center">
            <button class="btn btn-alternate  mr-4 atividade-footer-bottons d-none" id="questaoAnterior">Questão anterior</button>
            <button class="btn btn-success atividade-footer-bottons d-none" id="proximaQuestao">
                Próxima questão
            </button>
        </div>
    </div>


</div>
<!-- Fim do conteudo principal-->


<div class="modal fade" id="modalDesistir" tabindex="-1" role="dialog" aria-labelledby="modalDesistir" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-check mr-2"></i>
                <h5 class="modal-title" id="exampleModalLabel">Confirmação - <span class="text-bold">Desistencia do Teste</span> | <span data-nomeDesafio></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
            </div>
            <div class="modal-body">
                <p>
                    Ao prosseguir estará desistindo do testes e <span class="text-bold">deixará de
                                        ganhar os pontos desta atividade</span>, esta é uma ação que não poderá ser desfeita.
                </p>
                <p>
                    Caso queira desistir tenha certeza antes de prosseguir, caso contrário aproveite para vencer estes desafios e aumentar seus pontos!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-high-danger" id="desistir" modal-link data-dismiss="modal">Desistir</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalConfimar" tabindex="-1" role="dialog" aria-labelledby="modalConfimar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-check mr-2"></i>
                <h5 class="modal-title" id="exampleModalLabel">Confirmação - <span class="text-bold">Finalizar Teste</span> <span data-nomeDesafio></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Este teste depois de finalizado <span class="text-bold">não poderá ser alterado</span>, tenha certeza de ter preenchido corretamente.
                </p>
                <p>
                    Certifique-se de ter respondido todas as perguntas antes de confirmar.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-danger" id="confirmar" data-dismiss="modal" href="#/candidato/desafios" ex-route-name="desafios">Confirmar</a>
            </div>
        </div>
    </div>
</div>

<script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>

<script type="module" src="/static/candidato/js/es6+/desafios/initAtividade.js"></script>