<!-- Conteudo Principal -->
<div class="card p-3 mb-0">
    <div class="d-flex justify-content-around " id="desloqueavelContainer">

    </div>
</div>
<!-- Fim do conteudo principal-->

<script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>
<script src="/static/candidato/js/es6+/desbloqueaveis/init.js" type="module"></script>