<!doctype html>
<html>

<head>
    <title>Dashboard Candidato</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="icon" type="image" href="/static/shared/img/icon.png" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <link href="/static/candidato/libs/material-dashboard/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link rel="stylesheet" href="/static/shared/css/system.css">
    <link rel="stylesheet" href="/static/shared/libs/font-awesome/css/all.css">
    <link href="/static/candidato/libs/material-dashboard/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link rel="stylesheet" href="/static/candidato/css/vagas.css">
    <link rel="stylesheet" href="/static/shared/libs/toastr/toastr.min.css">

    <link rel="stylesheet" href="/static/candidato/css/desbloqueaveis.css">
</head>

<body>

    <div class="wrapper ">
        <!-- Barra lateral -->
        <div class="sidebar" data-color="green" data-background-color="white">
            <div class="logo">

                <a href="#" class="simple-text logo-normal d-none">
                    Olá <span id="nomeUsuario"></span>!
                </a>
            </div>
            <div class="sidebar-wrapper" ex-router>
                <ul class="nav">
                    <li class="nav-item active  ">
                        <a class="nav-link" href="#/candidato" ex-route-name="dashboard">
                            <i class="material-icons">dashboard</i>
                            <p>Resumo</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/oportunidades" ex-route-name="oportunidades">
                            <i class="material-icons">work_outline</i>
                            <p>Oportunidades</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/desafios" ex-route-name="desafios">
                            <i class="material-icons-outlined">poll</i>
                            <p>Desafios e Testes</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/desbloqueaveis" ex-route-name="desbloqueaveis">
                            <i class="material-icons">store</i>
                            <p>Desbloqueáveis</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/conhecaMais" ex-route-name="conhecaMais">
                            <i class="material-icons">speaker_notes</i>
                            <p>Conheça mais a Bayer</p>
                        </a>
                    </li>
                    <!-- <li class="nav-item ">
                            <a class="nav-link" href="/candidato/duvidas">
                                <i class="material-icons">contacts</i>
                                <p>Dúvidas</p>
                            </a>
                        </li> -->
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/curriculo" ex-route-name="curriculo">
                            <i class="material-icons">settings</i>
                            <p>Seu Perfil</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Fim barra lateral-->

        <div class="main-panel">
            <!-- Barra Superior -->
            <nav class="navbar navbar-expand-lg navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">

                        <ul class="navbar-nav">
                            <li class="nav-item d-flex justify-content-center align-items-center gold">
                                <span class="mr-1 qntPontos"></span>
                                <i class="fas fa-coins mr-4"></i>
                                <div class="progress mr-2">
                                    <div class="progress-bar bg-info pontosProximoLevelBar" style="width:0%">
                                        <div>
                                            <span class="experienciaAtual"></span>/
                                            <span class="pontosProximoLevel"></span>
                                        </div>
                                    </div>
                                </div>
                                <span class="mr-3 main-color bold">LVL <span id="levelAtual"></span></span>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="dropDownNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <p class="d-lg-none d-md-block">
                                        Notifications
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropDownNotification">
                                    <span class="dropdown-item">Nenhuma notificação até o momento</span>
                                </div>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="/candidato/curriculo">Candidato</a>
                                    <a class="dropdown-item" href="https://www.bayer.com.br" target="_blank">Portal
                                        Bayer</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fim da Barra Superior -->

            <div id="futuristic-theme" class="container op-0"></div>
            <div class="content">
                <div class="container-fluid">
                    <!-- Conteudo Principal -->
                    <div id="conteudo"></div>
                    <!-- Fim do conteudo principal-->
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="float-left ml-3 d-flex align-items-center">
                        <img src="https://shared.bayer.com/img/bayer-logo.svg" alt="Logo Bayer" title="Logo Bayer" id="logo-bayer">
                        <span class="title-bayer ml-3">Bayer</span>
                    </div>
                    <div class="copyright float-right">
                        Exception &copy;
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="scripts">

    </div>
    <script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
    <script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>
    <script src="/static/candidato/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/candidato/libs/material-dashboard/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
    <script type="module">
        import {NotificacaoService} from '../../static/candidato/js/es6+/curriculo/services/NotificacaoService.js'; NotificacaoService.sucesso("Login realizado com sucesso");
    </script>
    <script>
        history.pushState({
            seletor: "/"
        }, null, "/");

        const rotasCarregadas = [];
        window.scriptsCarregados = new Map();

        const carregarRota = function(endereco, rota) {
            const uri = endereco.substring(endereco.indexOf("#") + 2);
            fetch(uri).then(res => {
                res.text()
                    .then(paginaTexto => {
                        rotasCarregadas.push(rota);

                        document.querySelector('#scripts').innerHTML = '';
                        const paginaHTML = document.createElement('div');
                        paginaHTML.innerHTML = paginaTexto;
                        $(paginaHTML).attr("id", rota);
                        const scripts = paginaHTML.querySelectorAll("script");
                        for (const script of scripts) {
                            if (script.type === 'module') {
                                scriptsCarregados.set(rota, script.src);
                                import (script.src)
                            }
                            $(script).remove();

                        }


                        $("#conteudo").hide();
                        $("#conteudo").append(paginaHTML)
                        $("#conteudo").fadeIn(300, function() {
                            $(rota + ' a').click(carregarPaginaClick);
                        });
                    });
            });
        }




        const carregarPagina = function(url) {

            if (!window.interceptarCliques) {

                $("#conteudo > div").hide();
                const link = document.querySelector(`[href='${url}']`);
                $(".navbar-brand").html($(link).children("p").html())
                const rota = link.attributes['ex-route-name'].value;
                if (!rotasCarregadas.includes(rota)) {
                    carregarRota(url, rota)
                } else {
                    if (window.recarregarRota) {
                        import (window.scriptsCarregados.get(rota)).then(script => {
                            // carregarRota(url, rota);
                            const controller = script[Object.keys(script)];
                            new controller;
                        });
                    }
                    $("#" + rota).show();
                }
                if (Array.from(link.parentElement.classList).includes('nav-item')) {
                    $("[ex-router] .nav-item").removeClass("active");
                    link.parentElement.classList.add('active');
                }
            }
        }

        window.onhashchange = function(evento) {
            const novaUrl = evento.newURL;
            const url = novaUrl.substring(novaUrl.indexOf("#"))
            carregarPagina(url);
        }

        const carregarPaginaClick = function(e) {

            if (!window.interceptarCliques) {

                $("#conteudo > div").hide();
                const link = e.target;
                $(".navbar-brand").html($(this).children("p").html())
                const rota = this.attributes['ex-route-name'].value;
                if (!rotasCarregadas.includes(rota)) {
                    carregarRota(this.href, rota)

                } else {
                    $("#" + rota).show();
                }
                if (Array.from(this.parentElement.classList).includes('nav-item')) {
                    $("[ex-router] .nav-item").removeClass("active");
                    this.parentElement.classList.add('active');
                }
            }
        }
        const urlInical = window.location.pathname;
        console.log(window.location)
        const indiceHash = urlInical.indexOf("#");
        if (indiceHash === -1) {
            carregarPagina("#/candidato");
        } else {
            const urlHash = urlInical.substring();
            carregarPagina(urlHash);
        }

        // $("[ex-router] a").click(carregarPaginaClick);
    </script>
    <script>
        var RENDERER = {
            RESIZE_INTERVAL: 30,
            RADIUS: 25,
            RATE: 0.98,

            init: function() {
                this.setParameters();
                this.setup();
                this.reconstructMethods();
                this.bindEvent();
                this.render();
            },
            setParameters: function() {
                this.$window = $(window);
                this.$container = $('#futuristic-theme');
                this.$canvas = $('<canvas />');
                this.context = this.$canvas.appendTo(this.$container).get(0).getContext('2d');
                this.hexagons = [];
                this.resizeIds = [];
            },
            setup: function() {
                this.hexagons.length = 0;
                this.resizeIds.length = 0;
                this.width = this.$container.width();
                this.height = this.$container.height();
                this.$canvas.attr({
                    width: this.width,
                    height: this.height
                });
                this.createHexagons();
            },
            getRandomValue: function(min, max) {
                return min + (max - min) * Math.random() | 0;
            },
            createHexagons: function() {
                this.radius = this.RADIUS * this.RATE;
                this.vertices = [];

                for (var i = 0; i < 6; i++) {
                    this.vertices.push({
                        x: this.radius * Math.sin(Math.PI / 3 * i),
                        y: -this.radius * Math.cos(Math.PI / 3 * i)
                    });
                }
                this.vertices.push(this.vertices[0]);
                this.hexWidth = this.RADIUS * Math.cos(Math.PI / 6) * 2;
                this.hexHeight = this.RADIUS * (2 - Math.sin(Math.PI / 6));

                var countX = Math.ceil(this.width / this.hexWidth) + 1,
                    countY = Math.ceil(this.height / this.hexHeight) + 1,
                    offsetX = -(countX * this.hexWidth - this.width) / 2,
                    offsetY = -(countY * this.hexHeight - this.height) / 2;

                countX++;

                for (var y = 0; y < countY; y++) {
                    for (var x = 0; x < countX; x++) {
                        this.hexagons.push(new HEXAGON(this, offsetX + (x + 0.5) * this.hexWidth - (y % 2 == 1 ? 0 : this.hexWidth / 2), offsetY + (y + 0.5) * this.hexHeight));
                    }
                }
                for (var y = 0; y < countY; y++) {
                    for (var x = 0; x < countX; x++) {
                        var hexagon = this.hexagons[y * countX + x];

                        if (x < countX - 1) {
                            hexagon.neighbors[0] = this.hexagons[y * countX + x + 1];
                        }
                        if ((x < countX - 1 || y % 2 == 0) && y < countY - 1) {
                            hexagon.neighbors[1] = this.hexagons[(y + 1) * countX + x + (y % 2 == 1 ? 1 : 0)];
                        }
                        if ((x > 0 || y % 2 == 1) && y < countY - 1) {
                            hexagon.neighbors[2] = this.hexagons[(y + 1) * countX + x + (y % 2 == 1 ? 0 : -1)];
                        }
                        if (x > 0) {
                            hexagon.neighbors[3] = this.hexagons[y * countX + x - 1];
                        }
                        if ((x > 0 || y % 2 == 1) && y > 0) {
                            hexagon.neighbors[4] = this.hexagons[(y - 1) * countX + x + (y % 2 == 1 ? 0 : -1)];
                        }
                        if ((x < countX - 1 || y % 2 == 0) && y > 0) {
                            hexagon.neighbors[5] = this.hexagons[(y - 1) * countX + x + (y % 2 == 1 ? 1 : 0)];
                        }
                    }
                }
                this.hexagons[this.getRandomValue(0, this.hexagons.length - 1)].select();
            },
            watchWindowSize: function() {
                while (this.resizeIds.length > 0) {
                    clearTimeout(this.resizeIds.pop());
                }
                this.tmpWidth = this.$window.width();
                this.tmpHeight = this.$window.height();
                this.resizeIds.push(setTimeout(this.jdugeToStopResize, this.RESIZE_INTERVAL));
            },
            jdugeToStopResize: function() {
                var width = this.$window.width(),
                    height = this.$window.height(),
                    stopped = (width == this.tmpWidth && height == this.tmpHeight);

                this.tmpWidth = width;
                this.tmpHeight = height;

                if (stopped) {
                    this.setup();
                }
            },
            reconstructMethods: function() {
                this.selectHexagon = this.selectHexagon.bind(this);
                this.watchWindowSize = this.watchWindowSize.bind(this);
                this.jdugeToStopResize = this.jdugeToStopResize.bind(this);
                this.render = this.render.bind(this);
            },
            selectHexagon: function(event) {
                var axis = this.getAxis(event);

                for (var i = 0, count = this.hexagons.length; i < count; i++) {
                    this.hexagons[i].judge(axis.x, axis.y);
                }
            },
            getAxis: function(event) {
                var offset = this.$container.offset();
                return {
                    x: event.clientX - offset.left + this.$window.scrollLeft(),
                    y: event.clientY - offset.top + this.$window.scrollTop()
                };
            },
            bindEvent: function() {
                this.$window.on('resize', this.watchWindowSize);
                this.$container.on('click', this.selectHexagon);
            },
            render: function() {
                requestAnimationFrame(this.render);

                this.context.fillStyle = 'hsla(210, 70%, 10%, 0.3)';
                this.context.fillRect(0, 0, this.width, this.height);

                for (var i = 0, count = this.hexagons.length; i < count; i++) {
                    this.hexagons[i].render(this.context);
                }
            }
        };
        var HEXAGON = function(renderer, x, y) {
            this.renderer = renderer;
            this.x = x;
            this.y = y;
            this.init();
        };
        HEXAGON.prototype = {
            COUNT: {
                MIN: 5,
                MAX: 50
            },
            LUMINANCE: {
                MIN: 10,
                MAX: 70
            },

            init: function() {
                this.selections = [];
                this.neighbors = new Array(6);
                this.sourceIndices = [];
            },
            judge: function(x, y) {
                if (x < this.x - this.renderer.hexWidth / 2 || x > this.x + this.renderer.hexWidth / 2 ||
                    y < this.y - this.renderer.RADIUS || y > this.y + this.renderer.RADIUS ||
                    y < this.y && Math.abs((x - this.x) / (y - this.y + this.renderer.RADIUS)) > Math.tan(Math.PI / 3) ||
                    y > this.y && Math.abs((x - this.x) / (y - this.y - this.renderer.RADIUS)) > Math.tan(Math.PI / 3)) {
                    return;
                }
                this.select();
            },
            select: function() {
                this.hue = this.renderer.getRandomValue(100, 300);
                this.selections.push({
                    count: 0,
                    hue: this.hue
                });
            },
            relate: function(sourceIndices) {
                this.sourceIndices.push(sourceIndices);
            },
            draw: function(context, targets) {
                for (var i = 0; i < targets.length; i++) {
                    var target = targets[i],
                        fillLuminance = 0,
                        strokeLuminance = 0;

                    if (target.count < this.COUNT.MIN) {
                        fillLuminance = this.LUMINANCE.MIN + (this.LUMINANCE.MAX - this.LUMINANCE.MIN) * Math.pow(Math.sin(Math.PI / 2 * target.count / this.COUNT.MIN), 3);
                    } else if (target.count < this.COUNT.MAX) {
                        fillLuminance = this.LUMINANCE.MIN + (this.LUMINANCE.MAX - this.LUMINANCE.MIN) * Math.pow(Math.sin(Math.PI / 2 * (1 + (target.count - this.COUNT.MIN) / (this.COUNT.MAX - this.COUNT.MIN))), 3);
                    }
                    if (target.count < this.COUNT.MIN * 2) {
                        strokeLuminance = this.LUMINANCE.MIN + (this.LUMINANCE.MAX - this.LUMINANCE.MIN) * Math.sin(Math.PI / 2 * target.count / this.COUNT.MIN / 2);
                    } else if (target.count < this.COUNT.MAX * 2) {
                        strokeLuminance = this.LUMINANCE.MIN + (this.LUMINANCE.MAX - this.LUMINANCE.MIN) * Math.sin(Math.PI / 2 * (1 + (target.count - this.COUNT.MIN * 2) / (this.COUNT.MAX - this.COUNT.MIN) / 2));
                    }
                    context.fillStyle = 'hsla(' + target.hue + ', 70%, ' + fillLuminance + '%, 0.3)';
                    context.fill();
                    context.strokeStyle = 'hsla(' + target.hue + ', 70%, ' + strokeLuminance + '%, 0.3)';
                    context.stroke();
                }
            },
            render: function(context) {
                context.save();
                context.globalCompositeOperation = 'lighter';
                context.translate(this.x, this.y);
                context.beginPath();

                for (var i = 0, vertices = this.renderer.vertices; i < 6; i++) {
                    context[i == 0 ? 'moveTo' : 'lineTo'](vertices[i].x, vertices[i].y);
                }
                context.closePath();
                context.fillStyle = 'hsla(210, 70%, ' + this.LUMINANCE.MIN + '%, 0.3)';
                context.fill();

                this.draw(context, this.selections);
                this.draw(context, this.sourceIndices);
                context.restore();

                for (var i = this.selections.length - 1; i >= 0; i--) {
                    var selection = this.selections[i];

                    if (selection.count == this.COUNT.MIN) {
                        for (var j = 0; j < 6; j++) {
                            if (this.neighbors[j]) {
                                var indices = [];

                                for (var k = 0; k < 3; k++) {
                                    var index = j - 1 + k;
                                    index += 6;
                                    index %= 6;
                                    indices.push(index);
                                }
                                this.neighbors[j].relate({
                                    indices: indices,
                                    hue: this.hue,
                                    count: 0
                                });
                            }
                        }
                    }
                    if (++selection.count == this.COUNT.MAX * 2) {
                        this.selections.splice(i, 1);
                    }
                }
                for (var i = this.sourceIndices.length - 1; i >= 0; i--) {
                    var indices = this.sourceIndices[i],
                        index = indices.indices[this.renderer.getRandomValue(0, 3)];

                    if (this.neighbors[index] && indices.count == this.COUNT.MIN) {
                        this.neighbors[index].relate({
                            indices: indices.indices,
                            hue: indices.hue,
                            count: 0
                        });
                    }
                    if (++indices.count == this.COUNT.MAX * 2) {
                        this.sourceIndices.splice(i, 1);
                    }
                }
            }
        };
        $(function() {
            RENDERER.init();
        });
    </script>
    <script src="/static/shared/libs/apexcharts/apexcharts@latest.js"></script>
    <script src="/static/shared/js/libs/jquery.mask.min.js"></script>

    <script src="/static/shared/libs/toastr/toastr.min.js"></script>
    <script src="/static/shared/libs/maskMoney/jquery.maskMoney.min.js"></script>
</body>

</html>