<!doctype html>
<html>

<head>
    <title>Dashboard Candidato</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="icon" type="image" href="/static/shared/img/icon.png" />
    <link rel="stylesheet" type="text/css" href="/static/shared/libs/material-icons/icons.css" />
    <link href="/static/shared/libs/material-icons/material.css" rel="stylesheet">

    <link href="/static/candidato/libs/material-dashboard/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link rel="stylesheet" href="/static/shared/css/system.css">
    <link rel="stylesheet" href="/static/shared/libs/font-awesome/css/all.css">
    <link href="/static/candidato/libs/material-dashboard/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link rel="stylesheet" href="/static/candidato/css/vagas.css">
    <link rel="stylesheet" href="/static/shared/libs/toastr/toastr.min.css">

    <link rel="stylesheet" href="/static/candidato/css/desbloqueaveis.css">
</head>

<body>

    <div class="wrapper ">
        <!-- Barra lateral -->
        <div class="sidebar" data-color="green" data-background-color="white">
            <div class="logo">

                <a href="#" class="simple-text logo-normal d-none">
                    Olá <span id="nomeUsuario"></span>!
                </a>
            </div>
            <div class="sidebar-wrapper" ex-router>
                <ul class="nav">
                    <li class="nav-item active  ">
                        <a class="nav-link" href="#/candidato" ex-route-name="dashboard">
                            <i class="material-icons">dashboard</i>
                            <p>Resumo</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/oportunidades" ex-route-name="oportunidades">
                            <i class="material-icons">work_outline</i>
                            <p>Oportunidades</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/desafios" ex-route-name="desafios">
                            <i class="material-icons-outlined">poll</i>
                            <p>Desafios e Testes</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/desbloqueaveis" ex-route-name="desbloqueaveis">
                            <i class="material-icons">store</i>
                            <p>Desbloqueáveis</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/conhecaMais" ex-route-name="conhecaMais">
                            <i class="material-icons">speaker_notes</i>
                            <p>Conheça mais a Bayer</p>
                        </a>
                    </li>
                    <!-- <li class="nav-item ">
                            <a class="nav-link" href="/candidato/duvidas">
                                <i class="material-icons">contacts</i>
                                <p>Dúvidas</p>
                            </a>
                        </li> -->
                    <li class="nav-item ">
                        <a class="nav-link" href="#/candidato/curriculo" ex-route-name="curriculo">
                            <i class="material-icons">settings</i>
                            <p>Seu Perfil</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Fim barra lateral-->

        <div class="main-panel">
            <!-- Barra Superior -->
            <nav class="navbar navbar-expand-lg navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">

                        <ul class="navbar-nav">
                            <li class="nav-item d-flex justify-content-center align-items-center gold">
                                <a id="pontos" href="#/candidato/desbloqueaveis" ex-route-name="desbloqueaveis" class="gold">
                                    <span class="mr-1 qntPontos"></span>
                                    <i class="fas fa-coins mr-4"></i>
                                </a>
                                <div class="progress mr-2">
                                    <div class="progress-bar bg-info pontosProximoLevelBar" style="width:0%">
                                        <div>
                                            <span class="experienciaAtual"></span>/
                                            <span class="pontosProximoLevel"></span>
                                        </div>
                                    </div>
                                </div>
                                <span class="mr-3 main-color bold">LVL <span id="levelAtual"></span></span>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="dropDownNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <p class="d-lg-none d-md-block">
                                        Notifications
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropDownNotification">
                                    <span class="dropdown-item">Nenhuma notificação até o momento</span>
                                </div>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="/candidato/curriculo">Candidato</a>
                                    <a class="dropdown-item" href="https://www.bayer.com.br" target="_blank">Portal
                                        Bayer</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fim da Barra Superior -->

            <div id="pink-theme" class="container op-0"></div>
            <div id="futuristic-theme" class="container op-0"></div>
            <div class="content">
                <div class="container-fluid">
                    <!-- Conteudo Principal -->
                    <div id="conteudo"></div>
                    <!-- Fim do conteudo principal-->
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="float-left ml-3 d-flex align-items-center">
                        <img src="/static/shared/img/bayer-logo.svg" alt="Logo Bayer" title="Logo Bayer" id="logo-bayer">
                        <span class="title-bayer ml-3">Bayer</span>
                    </div>
                    <div class="copyright float-right">
                        Exception &copy;
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="scripts">

    </div>
    <script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
    <script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>
    <script src="/static/candidato/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/candidato/libs/material-dashboard/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
    <script>
        history.pushState({
            seletor: "/"
        }, null, "/");

        const rotasCarregadas = [];
        window.scriptsCarregados = new Map();

        const carregarRota = function(endereco, rota) {
            $("#" + rota).remove();
            const uri = endereco.substring(endereco.indexOf("#") + 2);
            const token = localStorage.getItem("token");
            fetch(uri + "?token=" + token).then(res => {
                if (res.status == 401) {
                    window.location.href = "/unauthorized";
                    return;
                }


                res.text()
                    .then(paginaTexto => {



                        rotasCarregadas.push(rota);

                        document.querySelector('#scripts').innerHTML = '';
                        const paginaHTML = document.createElement('div');
                        paginaHTML.innerHTML = paginaTexto;
                        $(paginaHTML).attr("id", rota);
                        const scripts = paginaHTML.querySelectorAll("script");
                        for (const script of scripts) {
                            if (script.type === 'module') {
                                scriptsCarregados.set(rota, script.src);
                                // console.log(script.src)
                                import (script.src)
                            }
                            $(script).remove();

                        }


                        $("#conteudo").hide();
                        $("#conteudo").append(paginaHTML)
                        $("#conteudo").fadeIn(300, function() {
                            $(rota + ' a').click(carregarPaginaClick);
                        });
                    });
            });
        }




        const carregarPagina = function(url) {
            $("[modal-element]").modal("hide")
            if (!window.interceptarCliques) {
                $("#conteudo > div").hide();
                const link = document.querySelector(`[href='${url}']`);
                $(".navbar-brand").html($(link).children("p").html())
                const rota = link.attributes['ex-route-name'].value;
                if (!rotasCarregadas.includes(rota)) {
                    carregarRota(url, rota)
                } else {
                    if (window.recarregarRota) {
                        import (window.scriptsCarregados.get(rota)).then(script => {
                            carregarRota(url, rota);
                            const controller = script[Object.keys(script)];
                            new controller();
                        });
                    }
                    $("#" + rota).show();
                }
                if (Array.from(link.parentElement.classList).includes('nav-item')) {
                    $("[ex-router] .nav-item").removeClass("active");
                    link.parentElement.classList.add('active');
                }
            }
        }

        window.onhashchange = function(evento) {
            const novaUrl = evento.newURL;
            const url = novaUrl.substring(novaUrl.indexOf("#"))
            carregarPagina(url);
        }

        const carregarPaginaClick = function(e) {

            if (!window.interceptarCliques) {

                $("#conteudo > div").hide();
                const link = e.target;
                $(".navbar-brand").html($(this).children("p").html())
                const rota = this.attributes['ex-route-name'].value;
                if (!rotasCarregadas.includes(rota)) {
                    carregarRota(this.href, rota)

                } else {
                    $("#" + rota).show();
                }
                if (Array.from(this.parentElement.classList).includes('nav-item')) {
                    $("[ex-router] .nav-item").removeClass("active");
                    this.parentElement.classList.add('active');
                }
            }
        }
        const urlInical = window.location.pathname;

        const indiceHash = urlInical.indexOf("#");
        if (indiceHash === -1) {
            carregarPagina("#/candidato");
        } else {
            const urlHash = urlInical.substring();
            carregarPagina(urlHash);
        }

        // $("[ex-router] a").click(carregarPaginaClick);
    </script>
    <script>
        var RENDERER = {
            RESIZE_INTERVAL: 30,
            RADIUS: 25,
            RATE: 0.98,

            init: function() {
                this.setParameters();
                this.setup();
                this.reconstructMethods();
                this.bindEvent();
                this.render();
            },
            setParameters: function() {
                this.$window = $(window);
                this.$container = $('#futuristic-theme');
                this.$canvas = $('<canvas />');
                this.context = this.$canvas.appendTo(this.$container).get(0).getContext('2d');
                this.hexagons = [];
                this.resizeIds = [];
            },
            setup: function() {
                this.hexagons.length = 0;
                this.resizeIds.length = 0;
                this.width = this.$container.width();
                this.height = this.$container.height();
                this.$canvas.attr({
                    width: this.width,
                    height: this.height
                });
                this.createHexagons();
            },
            getRandomValue: function(min, max) {
                return min + (max - min) * Math.random() | 0;
            },
            createHexagons: function() {
                this.radius = this.RADIUS * this.RATE;
                this.vertices = [];

                for (var i = 0; i < 6; i++) {
                    this.vertices.push({
                        x: this.radius * Math.sin(Math.PI / 3 * i),
                        y: -this.radius * Math.cos(Math.PI / 3 * i)
                    });
                }
                this.vertices.push(this.vertices[0]);
                this.hexWidth = this.RADIUS * Math.cos(Math.PI / 6) * 2;
                this.hexHeight = this.RADIUS * (2 - Math.sin(Math.PI / 6));

                var countX = Math.ceil(this.width / this.hexWidth) + 1,
                    countY = Math.ceil(this.height / this.hexHeight) + 1,
                    offsetX = -(countX * this.hexWidth - this.width) / 2,
                    offsetY = -(countY * this.hexHeight - this.height) / 2;

                countX++;

                for (var y = 0; y < countY; y++) {
                    for (var x = 0; x < countX; x++) {
                        this.hexagons.push(new HEXAGON(this, offsetX + (x + 0.5) * this.hexWidth - (y % 2 == 1 ? 0 : this.hexWidth / 2), offsetY + (y + 0.5) * this.hexHeight));
                    }
                }
                for (var y = 0; y < countY; y++) {
                    for (var x = 0; x < countX; x++) {
                        var hexagon = this.hexagons[y * countX + x];

                        if (x < countX - 1) {
                            hexagon.neighbors[0] = this.hexagons[y * countX + x + 1];
                        }
                        if ((x < countX - 1 || y % 2 == 0) && y < countY - 1) {
                            hexagon.neighbors[1] = this.hexagons[(y + 1) * countX + x + (y % 2 == 1 ? 1 : 0)];
                        }
                        if ((x > 0 || y % 2 == 1) && y < countY - 1) {
                            hexagon.neighbors[2] = this.hexagons[(y + 1) * countX + x + (y % 2 == 1 ? 0 : -1)];
                        }
                        if (x > 0) {
                            hexagon.neighbors[3] = this.hexagons[y * countX + x - 1];
                        }
                        if ((x > 0 || y % 2 == 1) && y > 0) {
                            hexagon.neighbors[4] = this.hexagons[(y - 1) * countX + x + (y % 2 == 1 ? 0 : -1)];
                        }
                        if ((x < countX - 1 || y % 2 == 0) && y > 0) {
                            hexagon.neighbors[5] = this.hexagons[(y - 1) * countX + x + (y % 2 == 1 ? 1 : 0)];
                        }
                    }
                }
                this.hexagons[this.getRandomValue(0, this.hexagons.length - 1)].select();
            },
            watchWindowSize: function() {
                while (this.resizeIds.length > 0) {
                    clearTimeout(this.resizeIds.pop());
                }
                this.tmpWidth = this.$window.width();
                this.tmpHeight = this.$window.height();
                this.resizeIds.push(setTimeout(this.jdugeToStopResize, this.RESIZE_INTERVAL));
            },
            jdugeToStopResize: function() {
                var width = this.$window.width(),
                    height = this.$window.height(),
                    stopped = (width == this.tmpWidth && height == this.tmpHeight);

                this.tmpWidth = width;
                this.tmpHeight = height;

                if (stopped) {
                    this.setup();
                }
            },
            reconstructMethods: function() {
                this.selectHexagon = this.selectHexagon.bind(this);
                this.watchWindowSize = this.watchWindowSize.bind(this);
                this.jdugeToStopResize = this.jdugeToStopResize.bind(this);
                this.render = this.render.bind(this);
            },
            selectHexagon: function(event) {
                var axis = this.getAxis(event);

                for (var i = 0, count = this.hexagons.length; i < count; i++) {
                    this.hexagons[i].judge(axis.x, axis.y);
                }
            },
            getAxis: function(event) {
                var offset = this.$container.offset();
                return {
                    x: event.clientX - offset.left + this.$window.scrollLeft(),
                    y: event.clientY - offset.top + this.$window.scrollTop()
                };
            },
            bindEvent: function() {
                this.$window.on('resize', this.watchWindowSize);
                this.$container.on('click', this.selectHexagon);
            },
            render: function() {
                requestAnimationFrame(this.render);

                this.context.fillStyle = 'hsla(210, 70%, 10%, 0.3)';
                this.context.fillRect(0, 0, this.width, this.height);

                for (var i = 0, count = this.hexagons.length; i < count; i++) {
                    this.hexagons[i].render(this.context);
                }
            }
        };
        var HEXAGON = function(renderer, x, y) {
            this.renderer = renderer;
            this.x = x;
            this.y = y;
            this.init();
        };
        HEXAGON.prototype = {
            COUNT: {
                MIN: 5,
                MAX: 50
            },
            LUMINANCE: {
                MIN: 10,
                MAX: 70
            },

            init: function() {
                this.selections = [];
                this.neighbors = new Array(6);
                this.sourceIndices = [];
            },
            judge: function(x, y) {
                if (x < this.x - this.renderer.hexWidth / 2 || x > this.x + this.renderer.hexWidth / 2 ||
                    y < this.y - this.renderer.RADIUS || y > this.y + this.renderer.RADIUS ||
                    y < this.y && Math.abs((x - this.x) / (y - this.y + this.renderer.RADIUS)) > Math.tan(Math.PI / 3) ||
                    y > this.y && Math.abs((x - this.x) / (y - this.y - this.renderer.RADIUS)) > Math.tan(Math.PI / 3)) {
                    return;
                }
                this.select();
            },
            select: function() {
                this.hue = this.renderer.getRandomValue(100, 300);
                this.selections.push({
                    count: 0,
                    hue: this.hue
                });
            },
            relate: function(sourceIndices) {
                this.sourceIndices.push(sourceIndices);
            },
            draw: function(context, targets) {
                for (var i = 0; i < targets.length; i++) {
                    var target = targets[i],
                        fillLuminance = 0,
                        strokeLuminance = 0;

                    if (target.count < this.COUNT.MIN) {
                        fillLuminance = this.LUMINANCE.MIN + (this.LUMINANCE.MAX - this.LUMINANCE.MIN) * Math.pow(Math.sin(Math.PI / 2 * target.count / this.COUNT.MIN), 3);
                    } else if (target.count < this.COUNT.MAX) {
                        fillLuminance = this.LUMINANCE.MIN + (this.LUMINANCE.MAX - this.LUMINANCE.MIN) * Math.pow(Math.sin(Math.PI / 2 * (1 + (target.count - this.COUNT.MIN) / (this.COUNT.MAX - this.COUNT.MIN))), 3);
                    }
                    if (target.count < this.COUNT.MIN * 2) {
                        strokeLuminance = this.LUMINANCE.MIN + (this.LUMINANCE.MAX - this.LUMINANCE.MIN) * Math.sin(Math.PI / 2 * target.count / this.COUNT.MIN / 2);
                    } else if (target.count < this.COUNT.MAX * 2) {
                        strokeLuminance = this.LUMINANCE.MIN + (this.LUMINANCE.MAX - this.LUMINANCE.MIN) * Math.sin(Math.PI / 2 * (1 + (target.count - this.COUNT.MIN * 2) / (this.COUNT.MAX - this.COUNT.MIN) / 2));
                    }
                    context.fillStyle = 'hsla(' + target.hue + ', 70%, ' + fillLuminance + '%, 0.3)';
                    context.fill();
                    context.strokeStyle = 'hsla(' + target.hue + ', 70%, ' + strokeLuminance + '%, 0.3)';
                    context.stroke();
                }
            },
            render: function(context) {
                context.save();
                context.globalCompositeOperation = 'lighter';
                context.translate(this.x, this.y);
                context.beginPath();

                for (var i = 0, vertices = this.renderer.vertices; i < 6; i++) {
                    context[i == 0 ? 'moveTo' : 'lineTo'](vertices[i].x, vertices[i].y);
                }
                context.closePath();
                context.fillStyle = 'hsla(210, 70%, ' + this.LUMINANCE.MIN + '%, 0.3)';
                context.fill();

                this.draw(context, this.selections);
                this.draw(context, this.sourceIndices);
                context.restore();

                for (var i = this.selections.length - 1; i >= 0; i--) {
                    var selection = this.selections[i];

                    if (selection.count == this.COUNT.MIN) {
                        for (var j = 0; j < 6; j++) {
                            if (this.neighbors[j]) {
                                var indices = [];

                                for (var k = 0; k < 3; k++) {
                                    var index = j - 1 + k;
                                    index += 6;
                                    index %= 6;
                                    indices.push(index);
                                }
                                this.neighbors[j].relate({
                                    indices: indices,
                                    hue: this.hue,
                                    count: 0
                                });
                            }
                        }
                    }
                    if (++selection.count == this.COUNT.MAX * 2) {
                        this.selections.splice(i, 1);
                    }
                }
                for (var i = this.sourceIndices.length - 1; i >= 0; i--) {
                    var indices = this.sourceIndices[i],
                        index = indices.indices[this.renderer.getRandomValue(0, 3)];

                    if (this.neighbors[index] && indices.count == this.COUNT.MIN) {
                        this.neighbors[index].relate({
                            indices: indices.indices,
                            hue: indices.hue,
                            count: 0
                        });
                    }
                    if (++indices.count == this.COUNT.MAX * 2) {
                        this.sourceIndices.splice(i, 1);
                    }
                }
            }
        };

        function atualizarTema() {
            let renderizacaoHexagon;
            renderizacaoHexagon = setInterval(() => {
                if ($("#futuristic-theme").hasClass('op-0')) {
                    clearInterval(renderizacaoHexagon)
                }
                const clientX = Math.floor(Math.random() * window.innerWidth);
                const clientY = Math.floor(Math.random() * window.innerHeight);
                RENDERER.selectHexagon({
                    clientX,
                    clientY
                })
            }, 5000)
        }
        $(function() {
            RENDERER.init();
            let renderizacaoHexagon;
            atualizarTema();

        });
    </script>

    <script>
        (function() {
            var RENDERER = {
                INIT_CHERRY_BLOSSOM_COUNT: 30,
                MAX_ADDING_INTERVAL: 10,
                WATCH_INTERVAL: 300,

                init: function() {
                    this.setParameters();
                    this.reconstructMethods();
                    this.setup();
                    this.bindEvent();
                    this.render();
                },
                setParameters: function() {
                    this.$window = $(window);
                    this.$container = $('#pink-theme');
                    this.$canvas = $('<canvas />');
                    this.context = this.$canvas.appendTo(this.$container).get(0).getContext('2d');
                    this.cherries = [];
                    this.watchIds = [];
                },
                reconstructMethods: function() {
                    this.watchWindowSize = this.watchWindowSize.bind(this);
                    this.jdugeToStopResize = this.jdugeToStopResize.bind(this);
                    this.render = this.render.bind(this);
                },
                setup: function() {
                    this.cherries.length = 0;
                    this.watchIds.length = 0;
                    this.width = this.$container.width();
                    this.height = this.$container.height();
                    this.$canvas.attr({
                        width: this.width,
                        height: this.height
                    });
                    this.maxAddingInterval = Math.round(this.MAX_ADDING_INTERVAL * 1000 / this.width);
                    this.addingInterval = this.maxAddingInterval;
                    this.createCherries();
                },
                createCherries: function() {
                    for (var i = 0, length = Math.round(this.INIT_CHERRY_BLOSSOM_COUNT * this.width / 1000); i < length; i++) {
                        this.cherries.push(new CHERRY_BLOSSOM(this, true));
                    }
                },
                watchWindowSize: function() {
                    this.clearTimer();
                    this.tmpWidth = this.$window.width();
                    this.tmpHeight = this.$window.height();
                    this.watchIds.push(setTimeout(this.jdugeToStopResize, this.WATCH_INTERVAL));
                },
                clearTimer: function() {
                    while (this.watchIds.length > 0) {
                        clearTimeout(this.watchIds.pop());
                    }
                },
                jdugeToStopResize: function() {
                    var width = this.$window.width(),
                        height = this.$window.height(),
                        stopped = (width == this.tmpWidth && height == this.tmpHeight);

                    this.tmpWidth = width;
                    this.tmpHeight = height;

                    if (stopped) {
                        this.setup();
                    }
                },
                bindEvent: function() {
                    this.$window.on('resize', this.watchWindowSize);
                },
                render: function() {
                    requestAnimationFrame(this.render);
                    this.context.clearRect(0, 0, this.width, this.height);

                    this.cherries.sort(function(cherry1, cherry2) {
                        return cherry1.z - cherry2.z;
                    });
                    for (var i = this.cherries.length - 1; i >= 0; i--) {
                        if (!this.cherries[i].render(this.context)) {
                            this.cherries.splice(i, 1);
                        }
                    }
                    if (--this.addingInterval == 0) {
                        this.addingInterval = this.maxAddingInterval;
                        this.cherries.push(new CHERRY_BLOSSOM(this, false));
                    }
                }
            };
            var CHERRY_BLOSSOM = function(renderer, isRandom) {
                this.renderer = renderer;
                this.init(isRandom);
            };
            CHERRY_BLOSSOM.prototype = {
                FOCUS_POSITION: 300,
                FAR_LIMIT: 600,
                MAX_RIPPLE_COUNT: 100,
                RIPPLE_RADIUS: 100,
                SURFACE_RATE: 0.5,
                SINK_OFFSET: 20,

                init: function(isRandom) {
                    this.x = this.getRandomValue(-this.renderer.width, this.renderer.width);
                    this.y = isRandom ? this.getRandomValue(0, this.renderer.height) : this.renderer.height * 1.5;
                    this.z = this.getRandomValue(0, this.FAR_LIMIT);
                    this.vx = this.getRandomValue(-2, 2);
                    this.vy = -2;
                    this.theta = this.getRandomValue(0, Math.PI * 2);
                    this.phi = this.getRandomValue(0, Math.PI * 2);
                    this.psi = 0;
                    this.dpsi = this.getRandomValue(Math.PI / 600, Math.PI / 300);
                    this.opacity = 0;
                    this.endTheta = false;
                    this.endPhi = false;
                    this.rippleCount = 0;

                    var axis = this.getAxis(),
                        theta = this.theta + Math.ceil(-(this.y + this.renderer.height * this.SURFACE_RATE) / this.vy) * Math.PI / 500;
                    theta %= Math.PI * 2;

                    this.offsetY = 40 * ((theta <= Math.PI / 2 || theta >= Math.PI * 3 / 2) ? -1 : 1);
                    this.thresholdY = this.renderer.height / 2 + this.renderer.height * this.SURFACE_RATE * axis.rate;
                    this.entityColor = this.renderer.context.createRadialGradient(0, 40, 0, 0, 40, 80);
                    this.entityColor.addColorStop(0, 'hsl(330, 70%, ' + 50 * (0.3 + axis.rate) + '%)');
                    this.entityColor.addColorStop(0.05, 'hsl(330, 40%,' + 55 * (0.3 + axis.rate) + '%)');
                    this.entityColor.addColorStop(1, 'hsl(330, 20%, ' + 70 * (0.3 + axis.rate) + '%)');
                    this.shadowColor = this.renderer.context.createRadialGradient(0, 40, 0, 0, 40, 80);
                    this.shadowColor.addColorStop(0, 'hsl(330, 40%, ' + 30 * (0.3 + axis.rate) + '%)');
                    this.shadowColor.addColorStop(0.05, 'hsl(330, 40%,' + 30 * (0.3 + axis.rate) + '%)');
                    this.shadowColor.addColorStop(1, 'hsl(330, 20%, ' + 40 * (0.3 + axis.rate) + '%)');
                },
                getRandomValue: function(min, max) {
                    return min + (max - min) * Math.random();
                },
                getAxis: function() {
                    var rate = this.FOCUS_POSITION / (this.z + this.FOCUS_POSITION),
                        x = this.renderer.width / 2 + this.x * rate,
                        y = this.renderer.height / 2 - this.y * rate;
                    return {
                        rate: rate,
                        x: x,
                        y: y
                    };
                },
                renderCherry: function(context, axis) {
                    context.beginPath();
                    context.moveTo(0, 40);
                    context.bezierCurveTo(-60, 20, -10, -60, 0, -20);
                    context.bezierCurveTo(10, -60, 60, 20, 0, 40);
                    context.fill();

                    for (var i = -4; i < 4; i++) {
                        context.beginPath();
                        context.moveTo(0, 40);
                        context.quadraticCurveTo(i * 12, 10, i * 4, -24 + Math.abs(i) * 2);
                        context.stroke();
                    }
                },
                render: function(context) {
                    var axis = this.getAxis();

                    if (axis.y == this.thresholdY && this.rippleCount < this.MAX_RIPPLE_COUNT) {
                        context.save();
                        context.lineWidth = 2;
                        context.strokeStyle = 'hsla(0, 0%, 100%, ' + (this.MAX_RIPPLE_COUNT - this.rippleCount) / this.MAX_RIPPLE_COUNT + ')';
                        context.translate(axis.x + this.offsetY * axis.rate * (this.theta <= Math.PI ? -1 : 1), axis.y);
                        context.scale(1, 0.3);
                        context.beginPath();
                        context.arc(0, 0, this.rippleCount / this.MAX_RIPPLE_COUNT * this.RIPPLE_RADIUS * axis.rate, 0, Math.PI * 2, false);
                        context.stroke();
                        context.restore();
                        this.rippleCount++;
                    }
                    if (axis.y < this.thresholdY || (!this.endTheta || !this.endPhi)) {
                        if (this.y <= 0) {
                            this.opacity = Math.min(this.opacity + 0.01, 1);
                        }
                        context.save();
                        context.globalAlpha = this.opacity;
                        context.fillStyle = this.shadowColor;
                        context.strokeStyle = 'hsl(330, 30%,' + 40 * (0.3 + axis.rate) + '%)';
                        context.translate(axis.x, Math.max(axis.y, this.thresholdY + this.thresholdY - axis.y));
                        context.rotate(Math.PI - this.theta);
                        context.scale(axis.rate * -Math.sin(this.phi), axis.rate);
                        context.translate(0, this.offsetY);
                        this.renderCherry(context, axis);
                        context.restore();
                    }
                    context.save();
                    context.fillStyle = this.entityColor;
                    context.strokeStyle = 'hsl(330, 40%,' + 70 * (0.3 + axis.rate) + '%)';
                    context.translate(axis.x, axis.y + Math.abs(this.SINK_OFFSET * Math.sin(this.psi) * axis.rate));
                    context.rotate(this.theta);
                    context.scale(axis.rate * Math.sin(this.phi), axis.rate);
                    context.translate(0, this.offsetY);
                    this.renderCherry(context, axis);
                    context.restore();

                    if (this.y <= -this.renderer.height / 4) {
                        if (!this.endTheta) {
                            for (var theta = Math.PI / 2, end = Math.PI * 3 / 2; theta <= end; theta += Math.PI) {
                                if (this.theta < theta && this.theta + Math.PI / 200 > theta) {
                                    this.theta = theta;
                                    this.endTheta = true;
                                    break;
                                }
                            }
                        }
                        if (!this.endPhi) {
                            for (var phi = Math.PI / 8, end = Math.PI * 7 / 8; phi <= end; phi += Math.PI * 3 / 4) {
                                if (this.phi < phi && this.phi + Math.PI / 200 > phi) {
                                    this.phi = Math.PI / 8;
                                    this.endPhi = true;
                                    break;
                                }
                            }
                        }
                    }
                    if (!this.endTheta) {
                        if (axis.y == this.thresholdY) {
                            this.theta += Math.PI / 200 * ((this.theta < Math.PI / 2 || (this.theta >= Math.PI && this.theta < Math.PI * 3 / 2)) ? 1 : -1);
                        } else {
                            this.theta += Math.PI / 500;
                        }
                        this.theta %= Math.PI * 2;
                    }
                    if (this.endPhi) {
                        if (this.rippleCount == this.MAX_RIPPLE_COUNT) {
                            this.psi += this.dpsi;
                            this.psi %= Math.PI * 2;
                        }
                    } else {
                        this.phi += Math.PI / ((axis.y == this.thresholdY) ? 200 : 500);
                        this.phi %= Math.PI;
                    }
                    if (this.y <= -this.renderer.height * this.SURFACE_RATE) {
                        this.x += 2;
                        this.y = -this.renderer.height * this.SURFACE_RATE;
                    } else {
                        this.x += this.vx;
                        this.y += this.vy;
                    }
                    return this.z > -this.FOCUS_POSITION && this.z < this.FAR_LIMIT && this.x < this.renderer.width * 1.5;
                }
            };
            $(function() {
                RENDERER.init();
            });
        })();
    </script>

    <script src="/static/shared/libs/apexcharts/apexcharts@latest.js"></script>
    <script src="/static/shared/js/libs/jquery.mask.min.js"></script>

    <script src="/static/shared/libs/toastr/toastr.min.js"></script>
    <script src="/static/shared/libs/maskMoney/jquery.maskMoney.min.js"></script>
</body>

</html>