<!-- Conteudo Principal -->
<div class="card p-3 mb-0">
    <div class="pesquisa  p-1">
        <h2 class="text-primary mb-0 medium-title">Pesquisa de Vagas</h2>
        <div id="filtros" class="pb-5 mt-3">
            <div class="row d-flex align-items-center">
                <div class="col-12 ">
                    <label for="buscaCampo">Busca</label>
                    <input class="form-control  text-muted p-2" placeholder="Pesquise por cargo, área ou cidade...">
                </div>
            </div>
            <div class="row d-flex align-items-center mt-3">
                <div class="col-4">
                    <label for="filtroLocalidade">
                                                Localidade
                                            </label>
                    <select class="form-control  text-muted p-2" id="filtroLocalidade">
                                                <option>São Paulo</option>
                                            </select>
                </div>
                <div class="col-4">
                    <label for="areaAtuacao">
                                                Área de Atuação
                                            </label>
                    <select class="form-control  text-muted p-2" id="areaAtuacao">
                                                <option>Todas as localidades</option>
                                            </select>
                </div>
                <div class="col-3">
                    <label for="tipoVaga">
                                                Tipo de Vaga
                                            </label>
                    <select class="form-control  text-muted p-2" id="tipoVaga">
                                                <option>Profissional</option>
                                            </select>
                </div>
                <div class="col-1">
                    <i class="material-icons selecionavel-icone">search</i>
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap flex-row justify-content-center">
            <div id="vagasContainer"></div>

        </div>
    </div>

</div>
<!-- Fim do conteudo principal-->
<script src="/static/candidato/js/es6+/oportunidades/init.js" type="module"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>