<!-- Conteudo Principal -->
<div class="card p-3 mb-0">
    <div class="pesquisa  p-1">
        <h2 class="text-primary mb-0 medium-title">Pesquisa de Vagas</h2>
        <div id="filtros" class="pb-5 mt-3">
            <div class="row d-flex align-items-center">
                <div class="col-12 ">
                    <label for="buscaCampo">Busca</label>
                    <input class="form-control  text-muted p-2" placeholder="Pesquise por cargo, área ou cidade...">
                </div>
            </div>
            <div class="row d-flex align-items-center mt-3">
                <div class="col-4">
                    <label for="filtroLocalidade">
                                                Localidade
                                            </label>
                    <select class="form-control  text-muted p-2" id="filtroLocalidade">
                                                <option>São Paulo</option>
                                            </select>
                </div>
                <div class="col-4">
                    <label for="areaAtuacao">
                                                Área de Atuação
                                            </label>
                    <select class="form-control  text-muted p-2" id="areaAtuacao">
                                                <option>Todas as localidades</option>
                                            </select>
                </div>
                <div class="col-3">
                    <label for="tipoVaga">
                                                Tipo de Vaga
                                            </label>
                    <select class="form-control  text-muted p-2" id="tipoVaga">
                                                <option>Profissional</option>
                                            </select>
                </div>
                <div class="col-1">
                    <i class="material-icons selecionavel-icone">search</i>
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap flex-row ">
            <div class="card mr-4 border border-success cardVaga">
                <div class="card-body">
                    <h4 class="card-title  pb-2 border-bottom border-alternate">Desenvolvedor Front-end</h4>
                    <div class="card-text d-flex flex-column mt-3 ">

                        <div id="candidatos">
                            <i class="fas fa-user-check col-1"></i>
                            <span class="text-secondary">Área de Atuação: <span class="text-bold">Tecnologia </span> </span>
                        </div>
                        <div id="dataAbertura">
                            <i class="fas fa-city col-1 pr-3"></i>
                            <span class="text-secondary">Cidade: São Paulo</span>
                        </div>
                        <div id="dataAbertura">
                            <i class="far fa-calendar-alt col-1"></i>
                            <span class="text-secondary">Abertura da vaga: 02/05/2019</span>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center mt-3 border-top">
                        <button class="btn btn-success mt-3">Selecionado</button>

                    </div>
                </div>
            </div>
            <div class="card mr-4 cardVaga">
                <div class="card-body border ">
                    <h4 class="card-title  pb-2 border-bottom border-alternate">Líder Operacional</h4>
                    <div class="card-text d-flex flex-column mt-3 ">

                        <div id="candidatos">
                            <i class="fas fa-user-check col-1"></i>
                            <span class="text-secondary">Área de Atuação: <span class="text-bold">Produção</span> </span>
                        </div>
                        <div id="dataAbertura">
                            <i class="fas fa-city col-1 pr-3"></i>
                            <span class="text-secondary">Cidade: São Paulo</span>
                        </div>
                        <div id="dataAbertura">
                            <i class="far fa-calendar-alt col-1"></i>
                            <span class="text-secondary">Abertura da vaga: 04/08/2019</span>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center mt-3 border-top">
                        <button class="btn btn-primary mt-3">Detalhes da Vaga</button>

                    </div>
                </div>
            </div>
            <div class="card mr-4 cardVaga">
                <div class="card-body border ">
                    <h4 class="card-title  pb-2 border-bottom border-alternate">Biomédico</h4>
                    <div class="card-text d-flex flex-column mt-3 ">

                        <div id="candidatos">
                            <i class="fas fa-user-check col-1"></i>
                            <span class="text-secondary">Área de Atuação: <span class="text-bold">Biologia</span> </span>
                        </div>
                        <div id="dataAbertura">
                            <i class="fas fa-city col-1 pr-3"></i>
                            <span class="text-secondary">Cidade: São Paulo</span>
                        </div>
                        <div id="dataAbertura">
                            <i class="far fa-calendar-alt col-1"></i>
                            <span class="text-secondary">Abertura da vaga: 02/05/2019</span>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center mt-3 border-top">
                        <button class="btn btn-primary mt-3">Detalhes da Vaga</button>

                    </div>
                </div>
            </div>
            <div class="card mr-4 border cardVaga">
                <div class="card-body">
                    <h4 class="card-title  pb-2 border-bottom border-alternate">LATAM Product Lead</h4>
                    <div class="card-text d-flex flex-column mt-3 ">

                        <div id="candidatos">
                            <i class="fas fa-user-check col-1"></i>
                            <span class="text-secondary">Área de Atuação: <span class="text-bold"></span> </span>
                        </div>
                        <div id="dataAbertura">
                            <i class="fas fa-city col-1 pr-3"></i>
                            <span class="text-secondary">Cidade: São Paulo</span>
                        </div>
                        <div id="dataAbertura">
                            <i class="far fa-calendar-alt col-1"></i>
                            <span class="text-secondary">Abertura da vaga: 02/05/2019</span>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center mt-3 border-top">
                        <button class="btn btn-primary mt-3">Detalhes da Vaga</button>

                    </div>
                </div>
            </div>
            <div class="card mr-4 border cardVaga">
                <div class="card-body">
                    <h4 class="card-title  pb-2 border-bottom border-alternate">LATAM Product Lead</h4>
                    <div class="card-text d-flex flex-column mt-3 ">

                        <div id="candidatos">
                            <i class="fas fa-user-check col-1"></i>
                            <span class="text-secondary">Área de Atuação: <span class="text-bold"></span> </span>
                        </div>
                        <div id="dataAbertura">
                            <i class="fas fa-city col-1 pr-3"></i>
                            <span class="text-secondary">Cidade: São Paulo</span>
                        </div>
                        <div id="dataAbertura">
                            <i class="far fa-calendar-alt col-1"></i>
                            <span class="text-secondary">Abertura da vaga: 02/05/2019</span>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center mt-3 border-top">
                        <button class="btn btn-primary mt-3">Detalhes da Vaga</button>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Fim do conteudo principal-->
<script src="/static/candidato/js/es6+/conhecaMais/init.js" type="module"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/popper.min.js"></script>
<script src="/static/candidato/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>