<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner v3.4.0</title>

    <link rel="shortcut icon" type="image/png" href="../../static/img/jasmine-3.4.0/jasmine_favicon.png">
    <link rel="stylesheet" href="../../static/css/libs/jasmine.css">

    <script src="../../static/js/libs/jasmine-3.4.0/jasmine.js"></script>
    <script src="../../static/js/libs/jasmine-3.4.0/jasmine-html.js"></script>
    <script src="../../static/js/libs/jasmine-3.4.0/boot.js"></script>

    <!-- include spec files here... -->

    <script src="../../static/js/libs/jquery-1.11.3.min.js"></script>
    <script type="module" src="../../static/js/spec/curriculoForm/curriculoSpec.js"></script>

</head>

<body>
</body>

</html>