<!doctype html>
<html>

<head>
    <title>Dashboard Matheus</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Fonts e icones -->
    <link rel="icon" type="image" href="/static/img/icon.png" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <link href="/static/candidato/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/curriculoForm.css">
    <link rel="stylesheet" href="/static/libs/font-awesome/css/all.css">
    <script src="/static/libs/font-awesome/js/all.js"></script>
</head>

<body>
    <div class="wrapper ">
        <!-- Barra lateral -->
        <div class="sidebar" data-color="green" data-background-color="white">
            <div class="logo">

                <a href="#" class="simple-text logo-normal">
                    Olá Matheus!
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/candidato">
                            <i class="material-icons">dashboard</i>
                            <p>Resumo</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/candidato/desafios">
                            <i class="material-icons-outlined">poll</i>
                            <p>Desafios e Testes</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/candidato/trocaPontos">
                            <i class="material-icons">perm_identity</i>
                            <p>Troca de Pontos</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/candidato/conhecaMais">
                            <i class="material-icons">speaker_notes</i>
                            <p>Conheça mais a Bayer</p>
                        </a>
                    </li>
                    <!-- <li class="nav-item ">
                        <a class="nav-link" href="/candidato/duvidas">
                            <i class="material-icons">contacts</i>
                            <p>Dúvidas</p>
                        </a>
                    </li> -->
                    <li class="nav-item ">
                        <a class="nav-link" href="/candidato/curriculo">
                            <i class="material-icons">settings</i>
                            <p>Seu Perfil</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Fim barra lateral-->

        <div class="main-panel">
            <!-- Barra Superior -->
            <nav class="navbar navbar-expand-lg navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a href="/candidato/desafios" class="mr-1 navbar-brand header-link">Desafios</a> /
                        <a href="/candidato/desafios/categoria/1" class="ml-1 mr-1 navbar-brand header-link">Conhecimentos Gerais</a> /
                        <a href="/candidato/desafios/categoria/1" class="ml-1 navbar-brand header-link">Matemática</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">

                        <ul class="navbar-nav">
                            <li class="nav-item d-flex justify-content-center align-items-center gold">
                                <span class="mr-1">72</span>
                                <i class="fas fa-coins mr-4"></i>
                                <div class="progress mr-2">
                                    <div class="progress-bar bg-info" style="width:72%">72/100</div>
                                </div>
                                <span class="mr-3 main-color bold">LVL 1</span>
                            </li>
                            <form class="navbar-form">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Pesquisar...">
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="material-icons">notifications</i>
                                </a>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="/candidato/curriculo">Candidato</a>
                                    <a class="dropdown-item" href="#">Configurações</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fim da Barra Superior -->
            <div class="content">
                <div class="container-fluid">
                    <!-- Conteudo Principal -->
                    <div class="card p-3 mb-0">
                        <div class="header-atividade d-flex justify-content-between align-items-center">
                            <h2 class="text-primary medium-small-title atividade-titulo d-flex align-items-center pt-2">

                                <i class="fas fa-book-open text-dark text-small mr-3"></i>Matemática

                                <span class="text-bold text-small text-dark ml-3"><span id="questaoAtual">1</span> / 5</span>
                                <div id="questoesQuadrados" class=" ml-3 text-small">
                                    <i class="far fa-square text-danger flow-question"></i>
                                    <i class="far fa-square text-danger flow-question"></i>
                                    <i class="far fa-square text-danger flow-question"></i>
                                    <i class="far fa-square text-danger flow-question"></i>
                                    <i class="far fa-square text-danger flow-question"></i>
                                </div>
                            </h2>

                            <div class="opcoesAtividade ">
                                <i class="far fa-clock"></i>
                                <span class="text-secondary mr-4" id="tempoRestante">30 min</span>

                                <button class="btn btn-danger " data-toggle="modal" data-target="#exampleModal">Finalizar Teste</button>
                            </div>

                        </div>
                        <div id="questionContainer">

                        </div>

                        <div class="rodapeAtividade d-flex flex-column">

                            <div class="proximaAtividade col-12 d-flex justify-content-center">
                                <button class="btn btn-alternate  mr-4 atividade-footer-bottons" id="questaoAnterior">Questão anterior</button>
                                <button class="btn btn-success atividade-footer-bottons" id="proximaQuestao">Próxima questão</button>
                            </div>
                        </div>


                    </div>


                </div>
                <!-- Fim do conteudo principal-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fas fa-check mr-2"></i>
                                <h5 class="modal-title" id="exampleModalLabel">Confirmação - <span class="text-bold">Finalizar Teste</span> Matemática</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Este teste depois de finalizado <span class="text-bold">não poderá ser alterado</span>, tenha certeza de ter preenchido corretamente.
                                </p>
                                <p>
                                    Certifique-se de ter respondido todas as perguntas antes de confirmar.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Confirmar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalDesistir" tabindex="-1" role="dialog" aria-labelledby="modalDesistir" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fas fa-check mr-2"></i>
                                <h5 class="modal-title" id="exampleModalLabel">Confirmação - <span class="text-bold">Desistencia do Teste</span> | Matemática</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Ao prosseguir estará desistindo do testes e <span class="text-bold">deixará de ganhar os pontos desta atividade</span>, esta é uma ação que não poderá ser desfeita.
                                </p>
                                <p>
                                    Caso queira desistir tenha certeza antes de prosseguir, caso contrário aproveite para vencer estes desafios e aumentar seus pontos!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-high-danger" id="desistir">Desistir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="float-left ml-3 d-flex align-items-center">
                    <img src="/static/img/logo.png" alt="Logo Bayer" title="Logo Bayer" id="logo-bayer">
                    <span class="title-bayer ml-3">Bayer</span>
                </div>
                <div class="copyright float-right">
                    Exception &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <script src="/static/candidato/js/core/jquery.min.js"></script>
    <script src="/static/candidato/js/core/popper.min.js"></script>
    <script src="/static/candidato/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/candidato/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>

    <!-- Chartist JS -->
    <script src="/static/candidato/js/plugins/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
    <script>
        let tempoAtividade = 30;
        let contador = setInterval(() => {
            let tempoFormatado = tempoAtividade.toString().padStart(2, "0");
            $("#tempoRestante").text(tempoFormatado + " min")
            if (!tempoAtividade) clearInterval(contador);

            tempoAtividade--;
        }, 10000)

        class AtividadeDesafioView {

            constructor(atividadeDesafioContainer) {
                this.atividadeDesafioContainer = $(atividadeDesafioContainer);
            }

            _template(tituloAtividade, descricao, alternativas) {
                    return `
                    <div class="question">
                        <div class="titulo-question">
                            <h3>${tituloAtividade}</h3>
                        </div>
                        <div class="description-question">
                            <p>${descricao}</p>
                        </div>
                        <div class="d-flex flex-column respostas">
                            ${alternativas.map((alternativa,index) => `
                                <div class="flex-grow-1  d-flex ">
                                    <button data-id="${index}" class="btn-resposta btn btn-primary flex-grow-1 ${alternativas[index+1] ? "col-6 mr-5":"col-12"}">${alternativa}</button>
                                    ${alternativas[index+1] ? `<button data-id="${index+1}" class=" btn-resposta btn btn-primary flex-grow-1">${alternativas[index+1]}</button>`:""}
                                </div>
                            `)
                            .filter((alternativa,index)=>index %2 ===0)
                            .join('')}
                        </div>
                    </div>
                `
            }

            render(tituloAtividade, descricao, alternativas,indexAtividade, idSelecionado) {
                this.atividadeDesafioContainer.html(this._template(tituloAtividade, descricao, alternativas));
                const elementoSelecionado = $(`.btn-resposta[data-id=${idSelecionado}]`);
                if(elementoSelecionado.get(0)){
                    elementoSelecionado.addClass("resposta-ativada");
                }
                $(".btn-resposta").click(function(event){
                    $(".btn-resposta").removeClass('resposta-ativada');
                    this.classList.toggle('resposta-ativada');
                    $("#questoesQuadrados .flow-question")[indexAtividade].classList.toggle("fa-check-square");
                    // $("#questoesQuadrados .flow-question")[indexAtividade].classList.remove("text-alternate");
               
                    $("#questoesQuadrados .flow-question")[indexAtividade].classList.toggle("text-primary");
                })
            }
        }

        const questoes = [
            {
                titulo:"Juros compostos",
                descricao:"Aplicando hoje na caderneta de poupança a quantia de R$ 20.000,00, qual será o montante gerado ao final de 4 anos, sabendo que a rentabilidade mensal é de 0,5%?",
                respostas: [1000,2000,3000,4000]
            },
            {
                titulo:"Números Complexos",
                descricao: "Se z = (2 + i) ∙ (1 + i) ∙ i, então z, o conjugado de z, será dado por:",
                respostas: ["−3 − i","1 − 3i","3 − i","−3 + i"]
            },
            {
                titulo:"Probabilidade",
                descricao: "Em uma urna existem bolas enumeradas de 1 a 15. Qualquer uma delas possui a mesma chance de ser retirada. Determine a probabilidade de se retirar uma bola com número nas seguintes condições:",
                respostas: ["par","primo","par ou primo","par e primo"]
            },
            {
                titulo:"Estatística",
                descricao: "Um grupo de alunos é submetido a uma avaliação, e foram obtidas as seguintes notas: 3, 4, 5, 6 e 7. Com base nessas informações, assinale a alternativa que apresenta o desvio-padrão desse grupo.",
                respostas: ["1,15","1,21","1,79","1,61"]
            },
            {
                titulo:"Média Ponderada",
                descricao: "Qual é a média ponderada dos números 1, 2, 3, 4, 5, 6, 7, 8 e 9, sabendo que seus respectivos pesos são 5, 5, 5, 5, 4, 4, 4, 4, 2?",
                respostas: ["4,5","2,8","4,2","2,9"]
            }
        ]

        class AtividadeDesafioController{
            constructor(proximaPerguntaSeletor, perguntaAnteriorSeletor, containerPerguntas){
                this._proximaPerguntaButton = $(proximaPerguntaSeletor);
                this._perguntaAnteriorButton = $(perguntaAnteriorSeletor);

                this._indicePergunta = 0;
                this._perguntaAtual = questoes[this._indicePergunta];
                this._perguntaAnterior = null;
                this._proximaPergunta = questoes[this._indicePergunta+1];

                this._view = new AtividadeDesafioView(containerPerguntas);

                this._init();
            }

            _init(){
                this._view.render(
                    this._perguntaAtual.titulo,
                    this._perguntaAtual.descricao,
                    this._perguntaAtual.respostas,
                    this._indicePergunta
                )
    
                if(this._proximaPergunta)
                    this._proximaPerguntaButton.css("display","block")
                if(this._perguntaAnterior)
                    this._perguntaAnteriorButton.css("display","block")
                $(".flow-question")[this._indicePergunta].classList.add('text-alternate');
                $(".flow-question")[this._indicePergunta].classList.remove('text-danger');
            }

            proximaQuestao(){
                
                const respostaSelecionada = $(".btn-resposta.resposta-ativada");
                questoes[this._indicePergunta].respostaSelecionada = respostaSelecionada.attr("data-id");
                


                this._perguntaAnterior = questoes[this._indicePergunta];
                this._perguntaAtual = questoes[++this._indicePergunta];
                this._proximaPergunta = questoes[this._indicePergunta+1];

                $(".flow-question")[this._indicePergunta].classList.remove('text-danger');
                
                $(".flow-question")[this._indicePergunta].classList.add('text-alternate');
                $(".flow-question")[this._indicePergunta-1].classList.remove('text-alternate');
                
                
                if(!questoes[this._indicePergunta-1].respostaSelecionada){
                    $(".flow-question")[this._indicePergunta-1].classList.add('text-danger');
                }

                

                this._view.render(
                    this._perguntaAtual.titulo,
                    this._perguntaAtual.descricao,
                    this._perguntaAtual.respostas,
                    this._indicePergunta,
                    questoes[this._indicePergunta].respostaSelecionada
                )

                if(this._proximaPergunta) this._proximaPerguntaButton.css("display","block")
                else this._proximaPerguntaButton.css("display","none")
                
                if(this._perguntaAnterior) this._perguntaAnteriorButton.css("display","block")
                else this._perguntaAnteriorButton.css("display","none")

                $("#questaoAtual").html(this._indicePergunta+1);
            }

            questaoAnterior(){
                console.log(questoes,'anterior')
                if(!questoes[this._indicePergunta].respostaSelecionada){
                    const respostaSelecionada = $(".btn-resposta.resposta-ativada");
                    questoes[this._indicePergunta].respostaSelecionada = respostaSelecionada.attr("data-id");
                }

                this._perguntaAtual = questoes[--this._indicePergunta];
                this._perguntaAnterior = questoes[this._indicePergunta-1];
                this._proximaPergunta = questoes[this._indicePergunta+1];


                this._view.render(
                    this._perguntaAtual.titulo,
                    this._perguntaAtual.descricao,
                    this._perguntaAtual.respostas,
                    this._indicePergunta,
                    questoes[this._indicePergunta].respostaSelecionada
                )
                $(".flow-question")[this._indicePergunta].classList.add('text-alternate');
                
                $(".flow-question")[this._indicePergunta].classList.remove('text-danger');
                $(".flow-question")[this._indicePergunta+1].classList.remove('text-alternate');

                if(!questoes[this._indicePergunta+1].respostaSelecionada){
                    $(".flow-question")[this._indicePergunta+1].classList.add('text-danger');
                }

                if(this._proximaPergunta) this._proximaPerguntaButton.css("display","block")
                else this._proximaPerguntaButton.css("display","none")

                if(this._perguntaAnterior) this._perguntaAnteriorButton.css("display","block")
                else this._perguntaAnteriorButton.css("display","none")

                $("#questaoAtual").html(this._indicePergunta+1);
            }
        }

        $("a").click(function(e){
            if($(this).attr("href") != "#"){
                e.preventDefault();
                $('#modalDesistir').modal('show')
                $("#desistir").click(()=> window.location = $(this).attr("href"));
            }
        })

        // for (link of document.links){
        //     const jqueryLink = $(link);
        //     const originalClick = jqueryLink.click.bind(jqueryLink)
        //     link.onclick = e => {
        //         e.preventDefault();
        //         const linkHref = e.target.href;
        //         $("#desistir").click(()=>{console.log('teste')});
        //         $('#modalDesistir').modal('show')
        //    }
        // }

        const controller = new AtividadeDesafioController("#proximaQuestao","#questaoAnterior","#questionContainer");
        $("#proximaQuestao").click(controller.proximaQuestao.bind(controller));
        $("#questaoAnterior").click(controller.questaoAnterior.bind(controller));
    </script>
</body>

</html>