<!DOCTYPE html>
<html>

<head>
    <title>Bayer - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" type="text/css" href="/static/login/login.css">
    <link rel="icon" type="image" href="/static/shared/img/icon.png" />
</head>

<body>

    <div class="modal-dialog text-center">
        <div class="col-sm-9 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="https://shared.bayer.com/img/bayer-logo.svg">
                </div>

                <form class="col-12" action="/" name="login" id="login">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="Insira seu email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Senha">
                    </div>
                    <button type="submit" class="btn" id="enviar"><i class="fas fa-sign-in-alt"></i>Entrar</button>
                </form>

                <div class="col-12 forgot">
                    <a href="#">Precisa de ajuda?</a>
                </div>
            </div>
        </div>


        <script src="/static/candidato/libs/material-dashboard/js/core/jquery.min.js"></script>

        <script>
            localStorage.clear();

            console.log(document.login)
            $("#enviar").click(e => {
                e.preventDefault();
                localStorage.setItem('pontos', 300);
                localStorage.setItem('candidatoID', 1);
                localStorage.setItem('experienciaAtual', 72);
                localStorage.setItem('proximoLevel', 100);
                localStorage.setItem('nome', $("#email").val())
                if ($("#email").val().includes("recrutador")) {
                    window.location = "/recrutador"
                } else {
                    $("#login").submit()
                }
            })
        </script>
</body>

</html>