<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analises</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
    <table class="table table-striped table-hover ">
        <thead >
            <tr>
                <th colspan="4" class="text-xl-center"><h3>Pontuação</h3></th>
            </tr>
            <tr>
                <th>Candidato</th>
                <th>Objetivo</th>
                <th>Curso Extracurricular</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <a href="/"> <button class="btn-primary">Página Inicial</button></a>
    <script type="application/javascript" src="../../static/js/libs/jquery-1.11.3.min.js"></script>
    <script type="application/javascript" src="../../static/js/PontuacaoView.js"></script>
    <script type="application/javascript" src="../../static/js/PontuacaoService.js"></script>
    <script type="application/javascript" src="../../static/js/PontuacaoController.js"></script>
    <script>new PontuacaoController().listar()</script>
</body>
</html>