<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Formulario de Cadastro</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/curriculoForm.css">
</head>

<body>
    <div id="corpo">
        <h1>Cadastro de Currículo</h1>
        <button type="button" class="btn" data-toggle="modal" data-target=".modal-sobre">Sobre a vaga</button>
        <div class="modal fade modal-sobre" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Saiba mais sobre nós</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Olá, Candidato! <br>
                            Seja muito Bem Vindo. Você deve estar se perguntando “Quem é a Bayer e por que trabalhar nela?”
                        </p>
                        <p>
                            A Bayer é uma organização global com competências centrais nas áreas de saúde e agricultura.<br>
                            Os produtos e serviços da Bayer são projetados para beneficiar a população e melhorar sua qualidade de vida.
                            
                            Ao mesmo tempo, o Grupo tem como objetivo criar valor através da inovação e crescimento.
                        </p>
                        <p>
                            - A Bayer conta com o Programa Qualidade de Vida. <br>
                            - A Bayer está comprometida em oferecer excelentes benefícios a seus colaboradores. <br>
                            - Acreditamos em novos talentos a serem descobertos! <br>
                            - A Bayer é uma empresa que pensa à frente, por isso, quer caminhar junto de seus colaboradores para ter um
                            presente e um futuro mais tranquilo.
                        </p>
                        <p>
                            Não perca esta oportunidade, adoraríamos te conhecer melhor! 
                            Para iniciar seu processo de seleção preencha este cadastro. 
                        </p>
                        Se é Bayer é bom.
                        
                    </div>
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary">Salvar mudanças</button>
                    </div>
                </div>
                    
            </div>
        </div>
        <form class="curriculo" method="POST" action="/inserir/curriculo">
            <p>Os campos marcados com * são obrigatório</p>
            <div>
                <label for="nome">
                    <h3>NOME COMPLETO*</h3>
                </label>
                <input type="text" name="nome" id="nome" required>
                <label for="idade">
                    <h3>IDADE</h3>
                </label>
                <input type="number" min="10" max="200" step="1" name="idade" id="idade">
                <label for="email">
                    <h3>E-MAIL*</h3>
                </label>
                <input type="email" name="email" id="email" placeholder="usuario@email.com" required>
                <br>

                <label for="telefoneResidencial">
                    <h3>TELEFONE RESIDENCIAL</h3>
                </label>
                <input type="text" name="telefoneResidencial" id="telefoneResidencial"/>
                <label for="telefoneCelular">
                    <h3>TELEFONE CELULAR</h3>
                </label>
                <input type="text" name="telefoneCelular" id="telefoneCelular"/>
                <div>
                    <h3>ENDEREÇO*</h3>
                    <label for="ruaEndereco"></label>Endereço <input type="text" id="ruaEndereco" name="endereco" placeholder="Rua/Avenida,123" required>
                   <br><br>
                    <label for="uf">Estado</label>
                    <select id="uf" name="uf" disabled data-target="#cidade">
                        <option>Estado</option>
                    </select>
                    <label for="cidade">Cidade</label>
                    <select id="cidade" name="cidade">
                        <option>Cidade</option>
                    </select>
                    <div id="campoDispostoSeMudar" class="escondido">
                        <label for="dispostoSeMudar">Disposto a se mudar </label>
                        <select id="dispostoSeMudar" name="dispostoSeMudar">
                            <option value="True">Sim</option>
                            <option value="False">Não</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <label for="objetivo">
                    <h3>OBJETIVO PROFISSIONAL*</h3>
                </label>
                <input type="text" id="objetivo" name="objetivo" required>
                <label for="salarioExpectativa"><h3>EXPECTATIVA DE SALÁRIO</h3></label>
                <input type="text" id="salarioExpectativa" name="salarioExpectativa" data-thousands="." data-decimal="," data-prefix="R$ " placeholder="Ex: R$ XXXX,XX" />

            <br>
            <div>
                <h3>EXPERIÊNCIAS ANTERIORES</h3>
                <!--
                 -->
                <div id="campoExperiencias"></div>
                <button id="adicionarExperiencia" type="button">Cadastrar Experiência Anterior</button>
            </div>
            <br>
            <div>
                <h3>FORMAÇÕES / CURSOS COMPLEMENTARES</h3>
                <button id="salvarCurso" type="button">Cadastrar Formação / ExtraCurricular</button>
            </div>
        </div>
            <div>
                <label>
                    <h3>IDIOMAS</h3>
                </label>
                <label for="idioma">Idioma:</label>
                <div id="campoIdiomas"></div>
                <button id="adicionarIdioma" type="button">Adicionar Idioma</button>
            </div>
            <br>
            <br>
            <button id="enviar" type="submit">ENVIAR</button>
        </form>
    </div>
    <br>
    <footer>
        <span>Exception &reg; - 2019</span><br>
        <span>Formulário de Cadastro</span><br>
        <span>Bayer</span><br>
    </footer>
    <script src="../../static/js/libs/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="../../static/js/ValidacaoFormulario.js"></script>
    <script src="../../static/js/VagaService.js"></script>
    <script src="../../static/js/VagaController.js"></script>
    <script src="../../static/js/CurriculoService.js"></script>
    <script src="../../static/js/CurriculoController.js"></script>
    <script>
        const vaga = new VagaController().get_vaga();
        const controller = new CurriculoController(vaga,"#cidade",'#uf','#campoDispostoSeMudar');
        controller.geraIdiomasDinamicamente('campoIdiomas','adicionarIdioma');
        controller.geraExperienciasDinamicamente('campoExperiencias','adicionarExperiencia');
        new ValidacaoFormulario();

        $("#salarioAtual").maskMoney();</script>
</body>

</html>
