<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Formulario de Cadastro</title>
</head>

<body>
    <div id="corpo">
        <h1>Cadastro de estágio</h1>
        <p>
            Olá, Futuro Estagiário! <br>
            Seja muito Bem Vindo. Você deve estar se perguntando “Quem é a Bayer e por que trabalhar nela?”
        </p>
        <p>
            A Bayer é uma organização global com competências centrais nas áreas de saúde e agricultura.<br>
            Os produtos e serviços da Bayer são projetados para beneficiar a população e melhorar sua qualidade de vida.
            <br>
            Ao mesmo tempo, o Grupo tem como objetivo criar valor através da inovação e crescimento.
        </p>
        <p>
            - A Bayer conta com o Programa Qualidade de Vida. <br>
            - A Bayer está comprometida em oferecer excelentes benefícios a seus colaboradores. <br>
            - Acreditamos em novos talentos a serem descobertos! <br>
            - A Bayer é uma empresa que pensa à frente, por isso, quer caminhar junto de seus colaboradores para ter um
            presente e um futuro mais tranquilo.<br>
            <br>
        </p>
        <p>
            Não perca esta oportunidade, adoraríamos te conhecer melhor! Para iniciar seu processo de seleção preencha
            <br>
            este cadastro. <br>
            <br>
            Obrigado,<br>
            Se é Bayer é bom.
        </p>
        <form class="respostas" method="POST" action="/inserir/curriculo">
            <p>Os campos marcados com * são obrigatório</p>
            <div>
                <label for="nome">
                    <h3>NOME COMPLETO*</h3>
                </label>
                <input type="text" name="nome" id="nome" required>
                <label for="idade">
                    <h3>IDADE</h3>
                </label>
                <input type="number" min="10" max="200" name="idade" id="idade">
                <label for="email">
                    <h3>E-MAIL*</h3>
                </label>
                <input type="email" name="email" id="email" placeholder="usuario@email.com" required>
                <br>

                <label for="telefoneResidencial">
                    <h3>TELEFONE RESIDENCIAL</h3>
                </label>
                <input type="text" name="telefoneResidencial" id="telefoneResidencial"/>
                <label for="telefoneCelular">
                    <h3>TELEFONE CELULAR</h3>
                </label>
                <input type="text" name="telefoneCelular" id="telefoneCelular"/>
                <div>
                    <h3>ENDEREÇO*</h3>
                    <label for="ruaEndereco"></label>Endereço <input type="text" id="ruaEndereco" name="endereco" placeholder="Rua/Avenida,123" required>
                   <br><br>
                    <label for="uf">Estado</label>
                    <select id="uf" name="uf" disabled data-target="#cidade">
                        <option value="">Estado</option>
                    </select>
                    <label for="cidade">Cidade</label>
                    <select id="cidade" name="cidade">
                        <option>Cidade</option>
                    </select>
                </div>
            </div>
            <div>
                <label for="objetivo">
                    <h3>OBJETIVO PROFISSIONAL*</h3>
                </label>
                <input type="text" id="objetivo" name="objetivo" required>
                <label for="salarioExpectativa"><h3>EXPECTATIVA DE SALÁRIO</h3></label>
                <input type="text" id="salarioExpectativa" name="salarioExpectativa" data-thousands="." data-decimal="," data-prefix="R$ " placeholder="Ex: R$ XXXX,XX" />

            <br>
            <div>
                <h3>EXPERIÊNCIAS ANTERIORES</h3>
                <!--
                <br>
                <div>
                    <label>Cargo *</label>
                    <br>
                    <input type="text" id="resposta6" name="cargo1" placeholder="Ex: Engenheiro Elétrico" required>
                </div>
                <br><br>
                <div>
                    <label>Nome da empresa *</label>
                    <br>
                    <input type="text" id="resposta7" name="nomeEmpresa1" placeholder="Ex: Bayer" required>
                </div>
                <br><br>
                <div>
                    <label>É meu trabalho atual?</label>
                    <input type="checkbox" name="trabalhoAtual1" value="resposta8">
                </div>
                <br><br>
                <div>
                    <label>Data de entrada *</label>
                    <input type="date" name="dataEntrada1" id="dataEntrada1" value="dataEntrada" required>
                    <label>Data de saída *</label>
                    <input type="date" name="dataSaida1" id="dataSaida1" value="dataSaida" required>
                </div>
                <br><br>
                <div>
                    <label>Principais atividades</label>
                    <br>
                    <textarea id="story" name="principaisAtividades1" rows="15" cols="70"></textarea>
                    <label>3000</label>
                </div>
                <br><br>
                <div>
                    <label>Salário</label>
                    <br>
                    <input type="text" step="any" min="0" name="salario1" data-thousands="." data-decimal="," data-prefix="R$ "  id="salario1" class="experiencias" placeholder="Ex: R$ 1500,00">
                </div>
                <br> -->
                <button id="salvarExperiencia" type="button">Cadastrar Experiência Anterior</button>
            </div>
            <br>
            <div>
                <h3>FORMAÇÕES / CURSOS COMPLEMENTARES</h3>
                <!--
                <br>
                <div>
                    <label>Nome do curso *</label>
                    <input type="text" name="nomeCurso1" id="nomeCurso1" placeholder="Ex: Excel" required>
                    <label>Nome da instituição *</label>
                    <input type="text" id="respostaInstituicao" name="instituicao1" placeholder="Ex: Alura" required>
                </div>
                <br>
                <div><label for="dataCursoInicio1">Data Inicial *</label>
                    <input type="date" data-date="" data-date-format="DD MMMM YYYY"  name="dataCursoInicio1" id="dataCursoInicio1" max="today" value="dataEntrada" required>

                    <label>Duração</label>
                    <select name="duracao1">
                        <option value="curta">Curta (até 40 horas)</option>
                        <option value="media">Média (de 41 a 360 horas)</option>
                        <option value="longa">Longa (acima de 360 horas</option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="cursando">Cursando</label>
                    <input type="checkbox" id="cursando" value="True" name="cursando">
                </div>
                <br>
                <br>
                    <label for="descricaoCursoExtraCurricular1">Descrição do curso</label><br>
                    <textarea id="descricaoCursoExtraCurricular1" name="descricaoCursoExtraCurricular1" cols="76" rows="8"></textarea>
                -->
                <button id="salvarCurso" type="button">Cadastrar Formação / ExtraCurricular</button>
            </div>
        </div>
            <br>
            <button id="enviar" type="submit">ENVIAR</button>
        </form>
    </div>
    <br>
    <footer>
        <span>Exception &reg; - 2019</span><br>
        <span>Formulário de Cadastro</span><br>
        <span>Bayer</span><br>
    </footer>

    <script src="../../static/js/libs/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="../../static/js/ValidacaoFormulario.js"></script>
    <script src="../../static/js/VagaService.js"></script>
    <script src="../../static/js/CurriculoService.js"></script>
    <script src="../../static/js/CurriculoController.js"></script>
    <script>new CurriculoController("#uf","#cidade").init()</script>

    <script>new ValidacaoFormulario();

        $("#salarioAtual").maskMoney();</script>
</body>

</html>
