<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Formulário de Cadastro
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
        name="viewport" />

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

    <link href="../../static/css/libs/material-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/curriculoForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    
</head>

<body onload="controller.esconderHeader()">
    <div class="wrapper">
        <div class="main-panel" style="width:100%">
            <div class="content">
                <div class="container-fluid">
                    <div class="col-md-11 m-auto">
                        <div class="card" id="conteudoCard">
                            <div class="header-logo">
                                <div class="escondido" id="logo">
                                    <div class="item"><img src="./logo.png" class="img-thumbnail" style="width:80px">
                                    </div>
                                    <div class="item">
                                        <h3><span style="color:#03588C">Bayer</span> <span
                                                style="color:#86A612">Carreiras</span></h3>
                                    </div>
                                </div>
                            </div>
                            <div id="fotoCarreiras">
                                <img src="./carreiras.jpg" class="img-thumbnail">
                            </div>
                            <form class="m-3" id="formularioCurriculo">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Nome Completo</label>
                                            <input type="text" name="nome" class="form-control" id="nome" maxlength="50" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Idade</label>
                                            <input type="number" name="idade" class="form-control" id="idade" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">E-mail</label>
                                            <input type="email" name="email" class="form-control" id="email" maxlength="100" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Telefone Residêncial</label>
                                            <input type="text" name="telefoneResidencial" class="form-control" id="telefoneResidencial">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Telefone Celular</label>
                                            <input type="text" name="telefoneCelular" class="form-control" id="telefoneCelular">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Endereço</label>
                                            <input type="text" name="endereco" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Estado</label>
                                            <select class="form-control" name="estado" data-style="btn btn-link">
                                                <option selected disabled>Escolha o Estado</option>
                                                <option>São Paulo</option>
                                                <option>Rio de Janeiro</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Cidade</label>
                                            <select class="form-control" name="cidade" data-style="btn btn-link">
                                                <option selected disabled>Escolha a Cidade</option>
                                                <option>São Paulo</option>
                                                <option>Rio de Janeiro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Resumo</label>
                                            <div class="form-group">
                                                <label class="bmd-label-floating">
                                                    Conte mais sobre sua carreira, experiências e conhecimentos
                                                </label>
                                                <textarea id="resumoCandidato" name="resumoCandidato"class="form-control textarea" rows="7" maxlength="1000" data-valida="caracteres"></textarea>
                                                <p class="text-muted"><small><span class="caracteres" name="txtArea">1000</span></small> caracteres restantes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label id="objetivo" class="bmd-label-floating">
                                                Objetivo Profissional
                                            </label>
                                            <input type="text" name="objetivo" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Expectativa de salário</label>
                                            <input type="text" id="salarioExpectativa" name="salarioExpectativa"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div id="campoExperiencias"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" id="botaoExperiencias" class="btn btn-dark">
                                            Cadastrar Experiência Anterior
                                        </button>
                                    </div>
                                </div>
                                <div id="campoFormacoes"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" id="botaoFormacoes" class="btn btn-dark">
                                            Cadastrar Formação Acadêmica
                                        </button>
                                    </div>
                                </div>
                                <div id="campoCursos"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" id="botaoCursos" class="btn btn-dark">
                                            Cadastrar Curso Complementar
                                        </button>
                                    </div>
                                </div>
                                <div id="campoIdiomas"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" id="botaoIdiomas" class="btn btn-dark">
                                            Cadastrar Idioma
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="enviar col-md-12">
                                        <button type="button" class="btn btn-primary pull-right" onclick="controller.enviarCurriculo()">
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">

                    </nav>
                </div>
            </footer>
        </div>
    </div>
    
    <script src="../../static/js/FormHelper.js"></script>
    <script src="../../static/js/libs/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="../../static/js/ValidacaoFormulario.js"></script>
    <script src="../../static/js/VagaService.js"></script>
    <script src="../../static/js/CurriculoView.js"></script>
    <script src="../../static/js/VagaController.js"></script>
    <script src="../../static/js/CurriculoService.js"></script>
    <script src="../../static/js/HttpService.js"></script>
    <script src="../../static/js/CurriculoController.js"></script>
    <script>
        const vaga = new VagaController().get_vaga();
        const controller = new CurriculoController(vaga, "#cidade", "#uf", "#campoDispostoSeMudar");
        controller.geraIdiomasDinamicamente("campoIdiomas", "botaoIdiomas");
        controller.geraExperienciasDinamicamente("campoExperiencias", "botaoExperiencias");
        controller.geraCursosDinamicamente("campoCursos", "botaoCursos");
        controller.geraFormacaoDinamicamente("campoFormacoes", "botaoFormacoes");
        ValidacaoFormulario.mascara_salarios("salarioExpectativa");
    </script>
</body>

</html>