.escondido {
    display: none;
}

.b-2 {
    bottom: 1rem;
}

.op-0 {
    opacity: 0;
}

#futuristic-theme {
    z-index: 0;
}

#formularioCurriculo input,
#formularioCurriculo textarea,
#formularioCurriculo select {
    color: var(--togle-light);
}

.form-control:disabled {
    cursor: text!important;
    pointer-events: all !important;
}

body {
    --togle-light: #222;
    --validacao: firebrick;
    --gold-color: #717500;
    --main-color: #03588C;
    --container-desafio: #FFFE;
    --color-score: #624862;
    --white: #fff;
    --borda-container: rgba(0, 97, 127, 0.4);
    --container-bg: rgba(255, 255, 255, 0.9);
    --borda-container-success: #43a047;
}

.dark-theme,
.futuristic-theme {
    --validacao: #ff7676;
    --togle-light: #ccc;
    --borda-container: rgba(0, 97, 127, 0.8);
    --color-score: #fff;
    --gold-color: #FFC260;
    --main-color: #6fa7ca;
    --container-desafio: none;
    --container-bg: rgba(255, 255, 255, 0.1);
}

footer {
    background-color: var(--color-secondary);
    position: absolute;
    width: 100%;
    z-index: 0;
}

@media (min-width: 768px) {
    .col-md-11 {
        background-color: var(--container-bg);
    }
    .col-md-11:hover {
        box-shadow: 0px 4px 20px 0 rgba(99, 96, 96, 0.7);
    }
}

.resposta-ativada {
    background-color: #624862!important;
}

.text-alternate {
    color: #624862!important;
}

.btn-high-danger {
    background-color: #D7263D!important;
    color: var(--white)!important;
}

#conhecaMaisImg {
    height: 29vh;
    float: left;
    width: 100%;
    background-size: 100%;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-image: url(https://krishijagran.com/media/2073/bayer.jpg);
}

.textoConheca {
    text-align: justify;
    margin-right: 15px;
}

.textoConheca h2 {
    font-size: 2rem;
}

.textoConheca p {
    font-size: 1rem;
}

.atividade-footer-bottons {
    display: none;
}

.main-panel>.content {
    min-height: calc(100vh - 155px)
}

.border-right-success {
    border-right: 1px solid var(--borda-container-success);
}

.score-box {
    min-width: 100px;
    height: 100px;
    text-align: center;
    margin-right: 2rem;
    border-radius: 100%;
    border: 2px solid #00617f;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-score);
    justify-content: center;
}

.score-box-success {
    border: 2px solid #43a047;
}

.desafio-container i {
    color: var(--color-navigation);
}

.desafio-container {
    border: 1px solid var(--borda-container);
    min-height: 80px;
    border-radius: 3px;
    margin-top: 10px;
    padding: 12px;
    background-color: var(--container-desafio);
}

.desafio-container-success {
    border: 1px solid var(--borda-container-success);
}

.medium-title {
    font-size: 1.7rem;
}

.medium-small-title {
    font-size: 1.5rem;
}

.basis-110-grow-1 {
    flex: 1 1 110px;
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: 0.9rem;
}

.header-atividade {
    border-bottom: 1px solid #d2d2d2;
}

.header-atividade i {
    color: var(--color-navigation);
}

.atividade-titulo {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.header-link {
    color: #00617f!important;
}

.header-link:hover {
    color: #89229b!important;
}

.selecionavel-icone {
    cursor: pointer;
}

.selecionavel-icone:hover {
    color: #89229b!important;
}

.title-shadow {
    text-shadow: 5px 5px 30px #3337;
}

.tituloDetalhesCandidato {
    font-size: 2rem;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-grow-1 {
    flex-grow: 1;
}

.shrink-1-basis {
    flex-grow: 1;
    flex-shrink: 1;
}

.shrink-3-basis {
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 150px;
}

.respostas {
    padding: 0 0 40px 0px;
}

.question {
    border-bottom: 1px solid #ccc;
    color: var(--text-primary);
}

.rodapeAtividade {
    margin-top: 25px;
}

.desafio-title {
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}

.btn-success {
    background-color: #43a047!important;
}

.desafio-description {
    font-size: .82rem;
}

.wrapper {
    height: 100%;
}

.btn {
    color: #fff;
}

.progress {
    width: 120px;
}

.border-right-primary {
    border-right: 1px solid var(--borda-container);
}

#fotoCarreiras {
    background-image: url(/static/shared/img/carreiras.jpg);
    height: 440px;
    background-position-x: 35%;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-size: 280%;
}

@media (min-width: 500px) {
    #fotoCarreiras {
        background-size: 250%;
    }
}

@media (min-width: 600px) {
    #fotoCarreiras {
        background-image: url(/static/shared/img/carreiras.jpg);
        background-size: 180%;
    }
}

@media (min-width: 900px) {
    #fotoCarreiras {
        background-image: url(/static/shared/img/carreiras.jpg);
        background-size: 150%;
    }
}

@media (min-width: 1000px) {
    #fotoCarreiras {
        background-image: url(/static/shared/img/carreiras.jpg);
        background-size: 150%;
    }
}

@media (min-width: 1600px) {
    #fotoCarreiras {
        background-image: url(/static/shared/img/carreiras.jpg);
        background-size: 100%;
    }
}

.campoIdiomaAdicional {
    display: block;
    margin-bottom: 10px;
}

.navbar-expand-lg {
    z-index: 1!important;
}

.inputError {
    color: #333!important;
    border: 1px solid rgba(210, 210, 210, 0.5);
    border-radius: 2px;
    background-size: 100%!important;
}

.marg-0 {
    margin-top: 0!important;
}


/* .card {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
} */

.col-md-10 {
    padding-right: 0;
    padding-left: 0;
}


/* .form-control {
    border-style: solid;
    border-width: 3px;
    border-color: #86A612;
    border-radius: 10px;
    color: #03588C;
    border-bottom: none;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to top, #03588C 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
} */

.mensagemValidacao {
    color: var(--validacao);
    font-size: 12px;
}

.bmd-label-floating,
.form-group label {
    color: var(--color-ancor);
}

.form-group::after {
    position: absolute;
    right: 15px;
    color: #fff;
    background-color: #b93838;
    border: 0.75px solid #b93838;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 150px;
    top: 35px;
}

#logo {
    display: none;
}

@media(min-width:800px) {
    #logo {
        display: flex;
        background-color: #fff;
        padding: 10px;
        position: fixed;
        left: 0;
        z-index: 2;
        width: 100%;
    }
}

#logo img {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.item {
    order: 1;
}

.item h3 {
    padding-left: 25px;
    align-content: center;
}

@media(min-width:1200px) {
    .item h2 {}
}


/* .content {
    margin-top: 0!important;
    padding: 0!important;
} */

.enviar button {
    background-color: #03588C!important;
}

.btn-dark {
    background-color: #444;
}

.btn-danger {
    background-color: #84008A!important;
}

#fotoCarreiras img {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0 auto;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.header-logo {
    display: none;
}

.form-check .form-check-input:checked+.form-check-sign .check {
    background: #03588C;
}

.form-check {
    margin-top: 47px!important;
}

.form-control::placeholder,
.main-color {
    color: var(--main-color);
}

.form-check-input {
    padding-top: 10px;
    position: absolute;
}

#conteudoCard {
    margin-top: 0px;
}

.bold {
    font-weight: bold;
}

#logo-bayer {
    height: 50px;
}

.title-bayer {
    font-size: 30px;
}

.card {
    z-index: 0;
}

.gold {
    color: var(--gold-color)!important;
}