<!doctype html>
<html>

<head>
    <title>Exception Carriers</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Fonts e icones -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="/static/recrutador/libs/material-dashboard/css/material-dashboard.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper ">
        <!-- Barra lateral -->
        <div class="sidebar" data-color="green" data-background-color="white">
            <div class="logo">

                <a href="#" class="simple-text logo-normal">
                    Exception Carriers
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item  ">
                        <a class="nav-link" href="#0">
                            <i class="material-icons">dashboard</i>
                            <p>Resumo</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/recrutador/candidatosPotenciais">
                            <i class="material-icons">perm_identity</i>
                            <p>Candidatos em Potêncial</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/recrutador/vagasAberto">
                            <i class="material-icons">speaker_notes</i>
                            <p>Vagas em Aberto</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/recrutador/cadastrarSelecao">
                            <i class="material-icons">edit</i>
                            <p>Cadastrar seleção</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/recrutador/candidatosTotais">
                            <i class="material-icons">contacts</i>
                            <p>Todos os candidatos</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/recrutador/perfil">
                            <i class="material-icons">account_circle</i>
                            <p>Seu Perfil</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/recrutador/configPerfil">
                            <i class="material-icons">settings</i>
                            <p>Configurações de Perfil</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Fim barra lateral-->
        <div class="main-panel">
            <!-- Barra Superior -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <p class="navbar-brand">Cadastrar nova vaga</p>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <form class="navbar-form">
                                <div class="input-group no-border">
                                    <input type="text" class="form-control" placeholder="Pesquisar...">
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo"><i class="material-icons">notifications</i></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile"><i class="material-icons">person</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fim da Barra Superior -->
            <div class="content container-fluid">
                <!-- Conteudo Principal -->
                <div class="card col-12 text-center row">
                    <form>
                        <div class="form-group">
                            <label class="text-dark" for="cargo_vaga">Cargo da vaga</label>
                            <input type="text" class="form-control text-center" id="cargo_vaga" placeholder="Ex: Consultor de vendas">
                        <div class="form-group">
                            <label class="text-dark" for="atividade">Principais atividades</label>
                            <input type="text-area" class="form-control text-center" id="atividade" placeholder="Ex: Atendimento ao cliente e prospecção de novos">
                        </div>
                        <div class="form-group">
                            <label class="text-dark " for="area_atuacao">Área de atuação</label>
                            <input class="form-control text-center" id="area_atuacao" type="text" placeholder="Ex: Comercial">
                        </div>
                        <div class="form-group">
                            <label class="text-dark" for="requisitos_obrigatorios">Requisitos obrigatórios</label>
                            <input class="form-control text-center" id="requisitos_obrigatorios" type="text" placeholder="Ex: ">
                        </div>
                        <div class="form-group">
                            <label class="text-dark" for="requisitos_desejaveis">Requisitos desejáveis</label>
                            <input class="form-control text-center" id="requisitos_desejaveis" type="text" placeholder="Ex: ">
                        </div>
                        <div class="form-group">
                            <label class="text-dark" for="salario_vaga">Salário</label>
                            <input class="form-control text-center" id="salario_vaga" type="text" placeholder="Ex: R$ 5.000,00">
                        </div>
                        <div class="form-group">
                            <label class="text-dark" for="beneficios_vaga">Benefícios</label>
                            <input class="form-control text-center" id="beneficios_vaga" type="text" placeholder="Ex: Convênio médico...">
                        </div>
                        <div class="form-group">
                            <button type="submit" id="cadastrar_vaga" class="btn btn-primary">Cadastrar Vaga</button>
                        </div>
                    </form>
                </div>
                <!-- Fim do conteudo principal-->
            </div>
            
            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright float-right">
                        Exception &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/static/recrutador/js/core/jquery.min.js"></script>
    <script src="/static/recrutador/js/core/popper.min.js"></script>
    <script src="/static/recrutador/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/recrutador/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>

    <!-- Chartist JS -->
    <script src="/static/recrutador/js/plugins/chartist.min.js"></script>

    <script>
        $(document).ready(function () {
            md.initDashboardPageCharts();
        });
    </script>
</body>

</html>