<!doctype html>
<html>

<head>
    <title>Exception</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Fonts e icones -->
    <link rel="icon" type="image" href="/static/shared/img/icon.png" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="/static/recrutador/libs/material-dashboard/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link rel="stylesheet" href="/static/shared/css/system.css">
    <link rel="stylesheet" href="/static/recrutador/css/recrutador.css">
    <link rel="stylesheet" href="/static/recrutador/libs/fontawesome-free/css/all.css">

</head>

<body>
    <div class="wrapper ">
        <!-- Barra lateral -->
        <div class="sidebar" data-color="green" data-background-color="white">
            <div class="logo">

                <a href="#" class="simple-text logo-normal">
                    Exception
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/recrutador">
                            <i class="material-icons">dashboard</i>
                            <p>Resumo</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/recrutador/candidatosPotenciais">
                            <i class="material-icons">perm_identity</i>
                            <p>Candidatos em Potêncial</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recrutador/vagasAberto">
                            <i class="material-icons">speaker_notes</i>
                            <p>Vagas em Aberto</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recrutador/cadastrarSelecao">
                            <i class="material-icons">edit</i>
                            <p>Cadastrar Vaga</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/recrutador/candidatosTotais">
                            <i class="material-icons">contacts</i>
                            <p>Todos os candidatos</p>
                        </a>
                    </li>
                    <!-- <li class="nav-item ">
                        <a class="nav-link" href="perfil.html">
                            <i class="material-icons">account_circle</i>
                            <p>Seu Perfil</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="configPerfil.html">
                            <i class="material-icons">settings</i>
                            <p>Configurações de Perfil</p>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <!-- Fim barra lateral-->

        <div class="main-panel">

            <!-- Barra Superior -->
            <nav class="navbar navbar-expand-lg navbar-absolute ">
                <div class="container-fluid">
                    <div class="navbar-wrapper ">
                        <a href="/recrutador/candidatosTotais" class="mr-2 text-link">Todos Candidatos</a> /
                        <a href="/recrutador/candidatosTotais" class="mr-2 ml-2 text-link">Desenvolvedor Front-end</a> /
                        <a href="#" class="ml-2 text-link">Renan</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">

                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="material-icons">notifications</i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Recrutador</a>
                                    <a class="dropdown-item" href="#">Configurações</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fim da Barra Superior -->
            <!-- Conteudo Principal -->

            <div class="content">
                <div class="container-fluid">

                    <div class="row  ml-1 mb-3">
                        <div class="row  col-12 d-flex align-items-center justify-content-between" id="conteudoTitulo">
                            <h1 class="tituloDetalhesCandidato  title-shadow">
                                Renan do Nascimento Sanches
                                <i class="fas fa-medal text-warning ml-4  selecionavel-icone" data-toggle="modal" data-target="#modalRemoverVerificacao"></i>
                            </h1>
                            <div class="stars">
                                <i class="fas fa-star mb-2 text-warning selecionavel-icone"></i>
                                <i class="fas fa-star mb-2 text-warning selecionavel-icone"></i>
                                <i class="fas fa-star mb-2 text-warning selecionavel-icone"></i>
                                <i class="fas fa-star mb-2 text-warning selecionavel-icone"></i>
                                <i class="far fa-star mb-2 text-warning selecionavel-icone"></i>
                            </div>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-4 ">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <a href="/recrutador/candidatosPotenciais" class="text-light"><i
                                                class="material-icons">assignment_ind</i></a>
                                    </div>

                                    <p class="card-category text-success">Pontuação Inicial</p>
                                    <h3 class="card-title">70
                                    </h3>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                        <div class="col-4 ">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <a href="/recrutador/candidatosPotenciais" class="text-light"><i
                                                class="material-icons">assignment_ind</i></a>
                                    </div>

                                    <p class="card-category text-success">Pontuação Atual</p>
                                    <h3 class="card-title">230
                                    </h3>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                        <div class="col-4 ">
                            <div class="card card-stats">
                                <div class="card-header card-header-primary card-header-icon">
                                    <div class="card-icon">
                                        <a href="/recrutador/candidatosPotenciais" class="text-light"><i
                                                class="material-icons">assignment_ind</i></a>
                                    </div>

                                    <p class="card-category text-dark">Pontuação Necessária</p>
                                    <h3 class="card-title">50
                                    </h3>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mr-1 ml-1">
                        <div class="card col-12">
                            <div class="card-body pl-0">
                                <div id="chart">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mr-1 ml-1">
                        <div class="card col-12">
                            <div class="card-body">
                                <div class="card-header card-header-tabs card-header-primary">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <span class="nav-tabs-title">Tipo de Avaliação:</span>
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#profile" data-toggle="tab">
                                                        <i class="fas fa-chart-bar fa-2x"></i> Inicial
                                                        <div class="fas"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#messages" data-toggle="tab">
                                                        <i class="fas fa-chart-line fa-2x"></i> Atual
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="profile">
                                            <div class="d-flex justify-content-start border-bottom pb-3">
                                                <a href="#objetivo" class="btn p-2 btn-success mr-2 ">Objetivo</a>
                                                <a href="#experienciasAnteriores" class="btn p-2 btn-success mr-2 ">Experiências Anteriores</a>
                                                <a href="#cursosExtraCurriculares" class="btn p-2 btn-success mr-2 ">Cursos Extra-Currículares</a>
                                                <a href="#competencias" class="btn p-2 btn-success mr-2 ">Resumo de Competências</a>
                                                <a href="#idiomas" class="btn p-2  btn-high-danger mr-2 ">Idiomas</a>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h3 class="text-success">Objetivo <i class="far fa-check-circle small"></i><i class="fas fa-star text-warning small ml-2"></i></h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 border-bottom pb-3">
                                                    <p class="text-secondary">"<span class=" text-bold">Desenvolvimento Front-end</span> de aplicações Web"</p>

                                                    <p>Pontos Obtidos: <span class="text-success text-bold">150</span></p>
                                                    <p>Pontos Necessários: <span class="text-bold">100</span></p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="messages">
                                            <div class="row">
                                                <div id="evolucaoChart1" class="col-6">
                                                </div>
                                                <div id="evolucaoChart2" class="col-6">
                                                </div>

                                            </div>
                                            <div id="evolucaoChart3">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="modalRemoverVerificacao" tabindex="-1" role="dialog" aria-labelledby="modalRemoverVerificacao" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <i class="fas fa-check mr-2"></i>
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmação - <span class="text-bold">Remoção de Verificação</span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Ao prosseguir estará <span class="text-bold">removendo a verificação padrão</span>, esta é uma ação que não poderá ser desfeita.
                                    </p>
                                    <p>
                                        Será possível atribuir o candidato ao status de verificado, porém estará marcado como uma alteração do recrutador.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confimaRemoverVerificacao">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card">

                        <div class="card-body col-12">

                        </div>
                    </div> -->
                </div>

            </div>
            <!-- Fim do conteudo principal-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="float-left ml-3 d-flex align-items-center">
                        <img src="https://shared.bayer.com/img/bayer-logo.svg" alt="Logo Bayer" title="Logo Bayer" id="logo-bayer">
                        <span class="title-bayer ml-3">Bayer</span>
                    </div>
                    <div class="copyright float-right">
                        Exception &copy;
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/static/recrutador/libs/material-dashboard/js/core/jquery.min.js"></script>
    <script src="/static/recrutador/libs/material-dashboard/js/core/popper.min.js"></script>
    <script src="/static/recrutador/libs/material-dashboard/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/recrutador/libs/material-dashboard/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>

    <script src="/static/shared/libs/apexcharts/apexcharts@latest.js"></script>
    <script src="/static/recrutador/js/es6+/candidatos/pontuacao/init.js" type="module"></script>


</body>

</html>